{extends file="layout.html"}

{block name="title"}2019/20秋冬主题“原力”-POP服装趋势网{/block}
{block name=keywords}在经历过“重置”跨越后的时代；一个翻越樊篱的思维重置后更尊重原生的能量成为时代的主力。如果智能可以取代人的劳作而无法取代是生之原力；死之原力，不同的人组成不同的能量场，汇聚统合而似同原子激流穿梭在黑暗恐惧与光明幸福之间随意切换。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20180704/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
<h1 class="seo-title">2019/20秋冬主题“原力”</h1>
<div class="season-section">
	<div class="season-contain js-season-contain">
		<div class="season-top js-season-top">
			<div class="bg-set js-bg-set">
				
			</div>
			
			<!--内容区-->
			<div class="top-cont js-top-cont">
				<div class="cont-msg js-cont-msg">
					<a class="mode1" title="预言·万物互联" href="/trends/relt_138/#anchor" target="_blank" data-src="t-bg2.jpg" data-bg="top-tit1.png">
						<img src="{STATIC_URL2}/global/topic/20180704/images/mode1.png?{STATIC_CHANGE_TIME}" alt="预言·万物互联" />
						<div>
							<h3>预言·万物互联</h3>
							<p>PREDICTION<br/>INTERNET OF EVERYTHING</p>
							<span><label>风格：</label>商务/户外、机能风</span>
							<span><label>市场：</label>品牌类客户，</span>
							<span><label></label>外贸（欧美）</span>
						</div>
					</a>
					<a class="mode2" href="/trends/relt_137/#anchor" title="神秘·但丁幻游" target="_blank" data-src="t-bg3.jpg" data-bg="top-tit2.png">
						<img src="{STATIC_URL2}/global/topic/20180704/images/mode2.png?{STATIC_CHANGE_TIME}" alt="神秘·但丁幻游" />
						<div>
							<h3>神秘·但丁幻游</h3>
							<p>MYSTERY<br/>DANTE'S MIRAGE</p>
							<span><label>风格：</label>少淑风</span>
          					<span><label>市场：</label>年轻女装品牌、</span>
          					<span><label></label>年轻女装批发</span>
						</div>
					</a>
					<a class="mode3" href="/trends/relt_136/#anchor" title="觉醒·头号玩家" target="_blank" data-src="t-bg4.jpg" data-bg="top-tit3.png">
						<img src="{STATIC_URL2}/global/topic/20180704/images/mode3.png?{STATIC_CHANGE_TIME}" alt="觉醒·头号玩家" />
						<div>
							<h3>觉醒·头号玩家</h3>
							<p>AWAKENING<br/>READY PLAYER ONE</p>
							<span><label>风格：</label>街潮风</span>
							<span><label>市场：</label>年轻品牌、独立设</span>
							<span><label></label>师潮牌、街潮</span>
							<span><label></label>批发</span>
						</div>
					</a>
					<a class="mode4" href="/trends/relt_139/#anchor" title="生命·IKIGAI" target="_blank" data-src="t-bg5.jpg" data-bg="top-tit4.png">
						<img src="{STATIC_URL2}/global/topic/20180704/images/mode4.png?{STATIC_CHANGE_TIME}" alt="生命·IKIGAI" />
						<div>
							<h3>生命·IKIGAI</h3>
							<p>LIFE--IKIGAI</p>
							<span><label>风格：</label>简约、棉麻风</span>	
          					<span><label>市场：</label>独立设计师品牌、</span>
          					<span><label></label>棉麻品牌</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="review-contain">
	  		<div class="review-msg">
	  			<img src="{STATIC_URL2}/global/topic/20180704/images/prev-title.png?{STATIC_CHANGE_TIME}" alt="往期回顾" />
	  			<div class="review-cont">
	  				<div class="left-btn js-left-btn"></div>
  					<div class="right-btn js-right-btn"></div>
	  				<div class="review-list">
	  					<ul class="js-review-list clear">
	  						
			  			</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	</div>
  	
</div>

{include file="topic/topic_layer.html"}
{/block}


{block name="self"}
<script type="text/javascript">
	var page_img_path_str="{STATIC_URL2}";
	var page_js_path_str="{STATIC_URL3}";

</script>
<script type="text/javascript" src="{STATIC_URL3}/global/topic/20180704/js/index.js?{STATIC_CHANGE_TIME}"></script>
{/block}