{extends file="layout.html"}
{block name="main"}
  <div class="aboutUs our_product">
  	<div class="ab_banner"><p>OUR PRODUCTS</p><span>我们的产品</span></div>
  	<div class="wid1200">
  		<div class="about_content">
  			<div class="content_left fl our_products_active">
          <ul>
            <li class="about_li on"><a href="/service/aboutus/"><span></span><i></i>关于我们</a></li>
            <li class="user_li on"><a href="/service/ouruser/"><span></span><i></i>我们的用户</a></li>
            <li class="pro_li cur"><a href="/service/ourproducts/"><span></span><i></i>我们的产品</a></li>
          </ul>
  			</div>
  			<div class="content_right fl">
  				<h1 class="big_title">我们的<span>产</span>品</h1>
  				<h3 class="small_title"><em></em><span>Our products</span><em></em></h3>
  				<div class="content_x840">
  					<p class="pro_img"><img src="{STATIC_URL1}/global/images/aboutus/pro_img1.png" alt="网站www.pop-fashion.com"></p>
  					<div class="web_lm">
  						<p class="web_add">网站<span>www.pop-fashion.com</span></p>
  						<div class="web_trend">
  							<div class="left_con fl">
  								<h4><span>未来趋势</span>—能聚焦，快反应</h4>
  								<p class="lm_intro"><i></i>趋势企划指导让您更自信的进行风格决策、稳定产品研发步调兼顾迅速应对市场的变化。</p>
  								<p class="click_btn"><a class="btn" href="/trends/" target="_blank">立即访问</a></p>
  							</div>
  							<div class="right_con fr"><img src="{STATIC_URL1}/global/images/aboutus/pro_img2.jpg" alt="未来趋势—能聚焦，快反应"></div>
  						</div>
  						<div class="web_trend web_analysis">
  							<div class="right_con fl"><img src="{STATIC_URL1}/global/images/aboutus/pro_img3.jpg" alt="潮流解析—有依据，够全面"></div>
  							<div class="left_con fr">
  								<h4><span>潮流解析</span>—有依据，够全面</h4>
  								<p class="lm_intro"><i></i>潮流情报解析让您从理性的数据分析和感性的潮流变化,全面了解各方面渠道信息情报。 </p>
  								<p class="click_btn"><a class="btn" href="/analysis/" target="_blank">立即访问</a></p>
  							</div>
  						</div>
  						<div class="web_trend web_design">
  							<div class="left_con fl">
  								<h4><span>设计资源</span>—极丰富，更便捷</h4>
  								<p class="lm_intro"><i></i>从灵感到款式到花型素材丰富的资源库中，进行便捷筛选与自由应用，提供设计所需的全套完备资源。</p>
  								<p class="click_btn"><a class="btn" href="/styles/" target="_blank">立即访问</a></p>
  							</div>
  							<div class="right_con fr"><img class="des_gif" src="{STATIC_URL1}/global/images/aboutus/stylegf.gif" alt="极丰富，更便捷"/><img src="{STATIC_URL1}/global/images/aboutus/pro_img4.jpg" alt="设计资源—极丰富，更便捷"></div>
  						</div>
  						<div class="web_trend web_uliaob">
  							<div class="right_con fl"><img src="{STATIC_URL1}/global/images/aboutus/pro_img5.jpg" alt="优料宝—能落地，可实现"></div>
  							<div class="left_con fr">
  								<h4><span>优料宝</span>—能落地，可实现</h4>
  								<p class="lm_intro"><i></i>POP服装趋势兄弟产品“优料宝”面料交易平台，让您在浏览趋势情报的同时，可以快速准确进行面料选择下单。</p>
  								<p class="click_btn"><a class="btn" href="http://www.uliaobao.com/" target="_blank">立即访问</a></p>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="product_book">
  					<div class="content_x840">
  						<p class="web_title">书籍<span>趋势、款式、快反系列</span></p>
  						<div class="book_cont">
  							<div class="fl"><img src="{STATIC_URL1}/global/images/aboutus/pro_book.png" alt="书籍趋势、款式、快反系列"/></div>
  							<div class="fr book_list">
  								<ul>
  									<li><i>1</i>趋势书籍：<span>决策方向、企划指导（2次/年）从主题趋势、色彩趋势、图案工艺趋势、面料趋势、廓形剪裁趋势及男女童等不同维度解析</span></li>
  									<li><i>2</i>单品书籍：<span>单品开发，款式提案（1次/季度）</span></li>
  									<li><i>3</i>T台系列：<span>T台品牌，产品研究（2次/年）</span></li>
  									<li><i>4</i>品牌系列：<span>热门解析、新锐推荐（2次/年）</span></li>
  									<li><i>5</i>快反应系列：<span>市场变化，快速总结（2次/月）</span></li>
  								</ul>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="experience_col">
  					<div class="content_x840">
  						<div class="use_intro">
	  						<p class="web_title">使用<span>体验更好</span></p>
	  						<p class="web_fun">设计线索关联功能<span>—多关联，更智能</span></p>
	  						<p class="web_introtitle"><span></span>紧扣服装设计的思路线索，层层串联，从网站到书籍，从品牌-款式-素材-分析-趋势，由点及面任意浏览，精准推荐。</p>
	  						<div class="web_relation">
	  							<div class="pro_relation fl">
	  								<img src="{STATIC_URL1}/global/images/aboutus/pro_cus1.png" alt="产品之间的关联"/>
	  								<p class="p_re">产品之间的关联</p>
	  								<span class="border_s"></span>
	  								<p class="pro_intro_rela">POP服装趋势旗下书籍产品与网站趋势报告关联。<br/><span>例如：APM系列从获得书籍到对应网站栏目进行主题检索，找到更多款式、图案素材及新兴品牌线索推荐。</span></p>
	  							</div>
	  							<div class="clue_relation fr">
	  								<img src="{STATIC_URL1}/global/images/aboutus/pro_cus2.png" alt="网站线索的关联"/>
	  								<p class="p_re">网站线索的关联</p>
	  								<span class="border_s"></span>
	  								<ul>
	  									<li><i>1</i><span>项目关联</span>：款式库与潮流解析栏目层次关联推荐；让您先聚焦再寻找，在团队协作中更好推荐沟通。</li>
	  									<li><i>2</i><span>报告关联</span>：报告中间主题之下其他视角报告及同视角不同主题推荐；让您视野开阔线索更分明，包括报告中涉及到更多款式素材推荐。</li>
	  									<li><i>3</i><span>款式关联</span>：从关注品牌到新品牌发现；关心您喜欢的同时推荐给您更多的可能。</li>
	  								</ul>
	  							</div>
	  						</div>
  						</div>
  						<div class="workbench_intro">
  							<p class="web_fun">个人工作室功能<span>—更个性，很随心</span></p>
	  						<p class="web_introtitle"><span></span>用个人工作室，更加随时记录、随性收藏、随心分享。</p>
	  						<ul>
	  							<li>
	  								<i></i>
	  								<p class="p_re">随时记录</p>
	  								<span class="border_s"></span>
	  								<p class="li_intro">个人工作台，让您浏览的同时建立不同分类下的款式收集记录，随时选择随时记录批量下载。</p>
	  							</li>
	  							<li>
	  								<i></i>
	  								<p class="p_re">随时收藏</p>
	  								<span class="border_s"></span>
	  								<p class="li_intro">记录您喜欢的文章报告，收藏您关注和新发现的品牌，随时开启准确查询新近的更新。</p>
	  							</li>
	  							<li>
	  								<i></i>
	  								<p class="p_re">随时分享</p>
	  								<span class="border_s"></span>
	  								<p class="li_intro">分享给您同时关心时尚动向的朋友伙伴，共享信息。</p>
	  							</li>
	  						</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
{/block}