{extends file="layout.html"}
{block name="title"}面料-POP服装趋势网{/block}
{block name=keywords}面辅料趋势报告,精选展会面料图库,全量图案库,热门品牌矢量花型,优料宝,找料帮{/block}
{block name="description"}我们将文化，面料与市场一同研究分析，以图集合集形式呈现面料的创意与流行趋势。深入供应链，提供高效标准面料服务，为您提供面料采购及咨询服务。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/fabric/css/index.css?{STATIC_CHANGE_TIME}">
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/common/css/h5-common.css?{STATIC_CHANGE_TIME}">
{/block}

{block name="main"}
{include file="topic/common/h5-header.html"}
<div class="color-banner js-color-banner">
	<div class="w1200">
		<h1>面料</h1>
		<p class="pc-title">我们将文化，面料与市场一同研究分析，以图集合集形式呈现面料的创意与流行趋势。同时深入供应链<br/>提供高效标准的面料服务，面料买手、咨询服务</p>
		<p class="h5-title">我们将文化，面料与市场一同研究分析，以图集合集形式呈现面料的创意与流行趋势。同时深入供应链提供高效标准的面料服务，面料买手、咨询服务</p>
		<a href="/member/register/" class="h5-reg-btn">立即注册<i></i></a>		
	</div>
	
</div>

<div class="section-top">
	<div class="w1200">
		<div itemscope  class="section1 clearfix js-section1" id="section1">
			<div class="con-lf fl">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/ft.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/ft-h5.png"></h2>
				<p itemprop="description">提前预测面料流行趋势，为面料开发，面料采购等环节提供研发方向，降低下一步决策风险</p>
				<a itemprop="url" href="/trends/material/" target="_blank"><span>查看趋势报告<i></i></span><em></em></a>
			</div>
			<div class="con-rg fr">
				<h3>面辅料趋势报告</h3>
				<div class="box1 clearfix">
					<div class="div1">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ft-1.png" alt="主题趋势" title="主题趋势">
						<p>主题趋势</p>
					</div>
					<div class="div2">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ft-2.png" alt="面料" title="面料">
						<p>面料</p>
					</div>
				</div>
				<div class="box2 clearfix">
					<div class="div1">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ft-3.jpg" alt="秋冬主题面料趋势预测" title="秋冬主题面料趋势预测">
						<p>秋冬主题面料趋势预测</p>
					</div>
					<div class="div2">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ft-4.jpg" alt="春夏女装潮流单品面料预警" title="春夏女装潮流单品面料预警">
						<p>春夏女装潮流单品面料预警</p>
					</div>
				</div>
			</div>
		</div>
		<div itemscope class="section2 clearfix js-section2" id="section2">
			<div class="con-rg fr">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/ef.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/ef-h5.png"></h2>
				<p itemprop="description">精选展会面料图库，商拍各大知名展会。全面分类。现场拍摄高清大图，24小时内上传到栏目，供客户第一时间，足不出户即可了解提前市场半年的面料新品。对接多类型展会，低成本同步获取面料信息</p>
				<a itemprop="url" href="/references/fabricgallery/" target="_blank"><span>查看展会面料<i></i></span><em></em></a>
			</div>
			<div class="con-lf fl">
				<h3>精选展会面料图库</h3>
				<div>
					<img src="{STATIC_URL2}/global/topic/fabric/images/ef-1.jpg">
					<div class="download1">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ef-2.jpg">						
					</div>
					<div class="download2">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ef-3.jpg">
					</div>
					<div class="select-box">
						<img src="{STATIC_URL2}/global/topic/fabric/images/ef-5.jpg">						
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class="section-bottom">
	<div class="w1200">
		<div itemscope class="section3 clearfix js-section3" id="section3">
			<div class="con-lf fl">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/pm.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/pm-h5.png"></h2>
				<p itemprop="description">为面料研发提供花型参考,万级在线图案素材库，日更百款图案花型素材。包含定位花型，满印花型，各类图案内容。提供矢量图，
					位图，高清图下载</p>
				<a itemprop="url" href="/patterns/graphics/" target="_blank"><span>探索图案库<i></i></span><em></em></a>
			</div>
			<div class="con-rg fr">
				<h3>全量图案库，30万+</h3>
				<ul>
					<li class="li1">
						<img src="{STATIC_URL2}/global/topic/fabric/images/pm-1.jpg">
					</li>
					<li class="li2">
						<img src="{STATIC_URL2}/global/topic/fabric/images/pm-2.jpg">
					</li>
					<li class="li3">
						<img src="{STATIC_URL2}/global/topic/fabric/images/pm-3.jpg">
					</li>
				</ul>
			</div>
		</div>
		<div itemscope class="section4 clearfix js-section4" id="section4">			
			<div class="con-rg fr">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/pp.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/pp-h5.png"></h2>
				<p itemprop="description">汇集各品牌花型，追踪热门品牌的T台、订货会，提炼每季有代表性的趋势花型，进行矢量绘制。一键下载，高效研发</p>
				<a itemprop="url" href="/patterns/topbrands/" target="_blank"><span>查看大牌花型<i></i></span><em></em></a>
			</div>
			<div class="con-lf fl">
				<h3>热门品牌矢量花型</h3>
				<div>
					<img src="{STATIC_URL2}/global/topic/fabric/images/pp-1.jpg">
					<div class="load-box">
						<img src="{STATIC_URL2}/global/topic/fabric/images/pp-2.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section5 js-section5" id="section5">
	<div class="w1200 clearfix">
		<div class="con-lf fl">
			<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/ulb.png"></h2>
			<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/ulb-h5.png"></h2>
			<p itemprop="description">找面料，卖面料？优料宝平台，深入产业链，整合面料生产企业资源，万种面料，可在线采购。让面料交易所见所得，一步达成</p>
			<a itemprop="url" href="http://www.uliaobao.com" target="_blank"><span>查看优料宝<i></i></span><em></em></a>
		</div>
		<div class="con-rg fr">
			<h3><img src="{STATIC_URL2}/global/topic/fabric/images/ulb-3.png"></h3>
			<ul>
				<li>
					<img src="{STATIC_URL2}/global/topic/fabric/images/ulb-1.png">
					<p>在线采购面料</p>
				</li>
				<li>
					<img src="{STATIC_URL2}/global/topic/fabric/images/ulb-2.png">
					<p>海量面料灵感</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="section6 js-section6" id="section6">
	<div class="w1200 clearfix">
		<div class="con-rg fr">
			<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/fabric/images/fabric.png"></h2>
			<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/fabric/images/fabric-h5.png"></h2>
			<p itemprop="description">想要海选面料，还是想要专业高效，POP专属找料顾问24小时一对一服务，专业买手验货发货。为你找到心头好料</p>
			<a itemprop="url" href="/topic/20171208/" target="_blank"><span>查看找料帮<i></i></span><em></em></a>
		</div>
		<div class="con-lf fl">
			<h3>找料帮-专属顾问服务</h3>
			<ul>
				<li>
					<img src="{STATIC_URL2}/global/topic/fabric/images/fabric-1.jpg">
					<p>专业团队</p>
				</li>
				<li>
					<img src="{STATIC_URL2}/global/topic/fabric/images/fabric-2.jpg">
					<p>定制找料服务</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="section7">
	<div class="w1200">
		<h2>POP提供丰富的使用体验</h2>
		<ul>
			<li><i></i>周更新1000+图集</li>
			<li><i></i>流行趋势观点预测</li>
			<li><i></i>打造团队协作工作室</li>
			<li><i></i>更强大的检索功能</li>
			<li><i></i>图文合辑更多视角</li>
			<li><i></i>前沿智能设计工具&nbsp;&nbsp;</li>
		</ul>
	</div>
</div>
 
<div class="section8">
	<div class="w1200">
		<h2>更多使用指南</h2>
		<ul class="clearfix">
			<li>
				<a href="/topic/theme_color/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/fabric/images/img1.jpg" alt="主题色彩" title="主题色彩">
					<p>主题色彩</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/patterns/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/fabric/images/img2.jpg" alt="图案" title="图案">
					<p>图案</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/single/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/fabric/images/img3.jpg" title="单品" alt="单品">
					<p>单品</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/brand/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/fabric/images/img4.jpg" alt="品牌" title="品牌">
					<p>品牌</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="section9">
	<div class="w1200">
		{if $account eq '' && $accountShow neq 'true'}
		<h2>即刻加入POP</h2>
		<p>获取时尚热点,创造你的流行势能</p>
		<div><span></span></div>		
		<a href="/member/register/" target="_blank">
			<span>立即注册<i></i></span>
			<em></em>
		</a>
		{else}
		<h2>成为VIP会员</h2>
		<p>尊享全站精选：趋势报告、款式、图集、设计素材...<br/>开启灵感致胜之旅</p>
		<div><span></span></div>		
		<a href="javascript:void(0);" class="js-contact-qq-btn">咨询VIP服务<i></i></a>
		{/if}
	</div>
</div>

<div class="section10">
	<div class="contact-box">
		<h2>电脑浏览,发现精彩免费内容</h2>
		<p>www.pop-fashion.com</p>
		<div>
			<em><img src="{STATIC_URL2}/global/topic/fabric/images/tel.png"></em>
		</div>
		<span>售前客服</span>
		<strong>4008 210 500</strong>
	</div>
</div>
{include file="topic/common/h5-footer.html"}
{/block}


{block name="self"}
<script type="text/javascript" src="{STATIC_URL2}/global/topic/fabric/js/index.js?{STATIC_CHANGE_TIME}"></script>
{/block}