<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线客服 - {{$title}}</title>
    <style>
        .qq-btn {
            border: none;
            color: #fff;
            visibility: hidden;
        }
    </style>
</head>
<body>
<button id="QQ_Consult" class="qq-btn"></button>

<script src="{STATIC_URL2}/global/js/common/jquery-1.9.1.min.js"></script>
<script charset="utf-8" src="//wpa.b.qq.com/cgi/wpa.php"></script>
<script>
    if (parent === self) {
        // 不在 iframe 中打开则跳转至首页
        location.href = '/';
    }
    // 售前:0 或不传 售后:1   鞋子：2    箱包：3    家纺：4
    var type = parseInt('{{$type}}');
    var nameAccount;
    if(type == '1'){
        nameAccount = '800020016';
    }else if(type == '2'){
        nameAccount = '800036829';
    }else if(type == '3'){
        nameAccount = '800036829';
    }else if(type == '4'){
        nameAccount = '800067136';
    }else{
        nameAccount = '800030036';
    }
    $(function () {
        BizQQWPA.addCustom({
            aty: '0',
            nameAccount: nameAccount,
            selector: 'QQ_Consult'
        });
        setTimeout(function () {
            $('#QQ_Consult').click();
        }, 300);
    });

    /**
     * #WPA3-SELECT-PANEL-CLOSE 右上角关闭按钮
     * #WPA3-SELECT-PANEL-AIO-CHAT QQ帐号聊天按钮
     * #WPA3-SELECT-PANEL-ANONY-CHAT 匿名聊天按钮
     */
    $(document).on('click', '#WPA3-SELECT-PANEL-CLOSE, #WPA3-SELECT-PANEL-AIO-CHAT, #WPA3-SELECT-PANEL-ANONY-CHAT', function (e) {
        parent.hideWPA && parent.hideWPA();
    });
</script>
</body>
</html>