{extends file="layout.html"}"

{block name="title"}2017/18秋冬童装色彩图案主题合集-POP服装趋势网{/block}
{block name=keywords}女/男童装色彩预测、图案工艺趋势{/block}
{block name=description}2017/18秋冬童装色彩图案主题合集包含女童主题的黑童话、漫步庄园、轻奢、炫彩运动、搁置、中东和男童主题的黑童话、重塑复古、玩转空间、炫彩运动、悟.呼吸。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css"
      href="{STATIC_URL2}/global/topic/20161020/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
<div itemscope class="container">
    <div itemscope class="banner">
        <div itemscope class="bannerCenter">
            <a href="#content1" class="colorTheme Theme"></a>
            <a href="#content2" class="pciTheme Theme"></a>
        </div>
    </div>
    <div itemscope class="content content1" id="content1">
        <div itemscope class="con_box">
            <div itemscope class="box">
                <p itemprop="description" class="smallBox">
                    2017/18秋冬童装色彩趋势，是针对童装未来的色彩趋势进行指导和预测的一本色彩流行趋势书籍。通过对各大主题进行整合，展示17秋冬色彩ＰＣＣＳ系统数据分析、关键色、色彩搭配等内容，对未来的色彩方向提供切实详尽的指导和预测。让企业更直观的了解色彩流行趋势的变化，服务于不同风格的客户。
                </p>
                <dl class="dl01 fl">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161020/images/hswoman.png"/></dt>
                    <dl><a href="/details/report/t_trend-id_18188-col_22/" target="_blank">轻奢</a></dl>
                    <dl><a href="/details/report/t_trend-id_18180-col_22/" target="_blank">秘密境地</a></dl>
                    <dl><a href="/details/report/t_trend-id_18165-col_22/" target="_blank">黑童话</a></dl>
                    <dl><a href="/details/report/t_trend-id_18163-col_22/" target="_blank">漫步庄园</a></dl>
                    <dl><a href="/details/report/t_trend-id_18018-col_22/" target="_blank">搁置</a></dl>
                </dl>
                <dl class="dl02 fr">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161020/images/hsman.png"/></dt>
                    <dl><a href="/details/report/t_trend-id_18140-col_22/" target="_blank">炫彩运动</a></dl>
                    <dl><a href="/details/report/t_trend-id_18138-col_22/" target="_blank">悟·呼吸</a></dl>
                    <dl><a href="/details/report/t_trend-id_18130-col_22/" target="_blank">重塑复古</a></dl>
                    <dl><a href="/details/report/t_trend-id_18129-col_22/" target="_blank">黑童话</a></dl>
                </dl>
            </div>
        </div>
    </div>
    <div itemscope class="content content2" id="content2">
        <div itemscope class="con_box">
            <div itemscope class="box">
                <p itemprop="description" class="smallBox">
                    2017/18秋冬童装图案工艺趋势，根据17/18秋冬主题趋势预测大主题进行图案工艺趋势设计。通过对纽约、伦敦、米兰、纽巴黎四大秀场发布会进行提炼，对当下流行节奏多元化，艺术形态和市场前沿进行探索，整合预测出28个细分图案方向，内容全面新颖，是服装企业不容错过的图案指导书籍。
                </p>
                    <dl class="dl01 fl">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161020/images/bswomen.png"/></dt>
                    <dl><a href="/details/report/t_trend-id_18575-col_22/" target="_blank">黑童话-戏谑魅影</a></dl>
                    <dl><a href="/details/report/t_trend-id_18574-col_22/" target="_blank">黑童话-森林物语</a></dl>
                    <dl><a href="/details/report/t_trend-id_18573-col_22/" target="_blank">黑童话-趣味交汇</a></dl>
                    <dl><a href="/details/report/t_trend-id_18515-col_22/" target="_blank">漫步庄园-复古格调</a></dl>
                    <dl><a href="/details/report/t_trend-id_18510-col_22/" target="_blank">黑童话-暗夜游牧</a></dl>
                    <dl><a href="/details/report/t_trend-id_18507-col_22/" target="_blank">炫彩运动-文字记事</a></dl>
                    <dl><a href="/details/report/t_trend-id_18505-col_22/" target="_blank">炫彩运动-几何空间</a></dl>
                </dl>
                <dl class="dl02 fr">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161020/images/bsman.png"/></dt>
                    <dl><a href="/details/report/t_trend-id_18588-col_22/" target="_blank">炫彩运动-玩转空间</a></dl>
                    <dl><a href="/details/report/t_trend-id_18565-col_22/" target="_blank">黑童话-丛林蜕变</a></dl>
                </dl>
            </div>
        </div>
    </div>
</div>

{include file="topic/topic_layer.html"}
{/block}

