{extends file="layout.html"}

{block name="title"}POP13周年大促-POP服装趋势网{/block}
{block name=keywords}游轮行,云图,找料帮{/block}
{block name=description}POP13周年大促“成恩有你、一路同行”，POP&ULB精选服务任性送。活动时间：2017年11月30日-2017年12月25日；参与方式：咨询并成功购买后，直接向客服领取对应赠品。{/block}

{block name="selfcss"}
	<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20171201/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
<div class="season-section js-season-section">
	
	<div class="p1"></div>
	
	<div class="p2 clear">
		<div class="p2-l"></div>
		<div class="p2-r">
			<div class="yunlun"></div>
			<p>创新思维·资源拓展·跨界合作·产业共创</p>
			<ul>
				<li>购买服装网站资讯产品1年19800元＋188元    送日本游轮行名额1席</li>
				<li>购买服装网站资讯产品2年39600元＋188元x2  送日本游轮行名额2席</li>
				<li>购买服装网站资讯产品3年59400元＋188元x3  送日本游轮行名额3席</li>
			</ul>
			<div class="yunlun-1"></div>
			<div class="commen-link">
				<a href="/item/detail/id_99/" target="_blank" title="了解更多">了解更多</a>
			</div>
		</div>
	</div>
	
	<div class="p3"></div>
	
	<div class="p4 clear">
		<div class="p4-l">
			<img src="{STATIC_URL2}/global/topic/20171201/images/p9.png" alt="云图" />
			<p>智能图像识别·云试衣·海量图案库·图搜图</p>
			<span>购买全网站产品（三大专区）＋888元 送云图功能1年</span>
			<div class="yuntu"></div>
			<div class="commen-link">
				<a href="/item/detail/id_98/" target="_blank" title="了解更多">了解更多</a>
			</div>
		</div>
		<div class="p4-r"></div>
	</div>
	
	<div class="p5"></div>
	
	<div class="p6 clear">
		<div class="p6-l"></div>
		<div class="p6-r">
			<div class="zhaoliao"></div>
			<p>专人找料·迅速响应·高性价比·省心交易</p>
			<span>找料帮服务免费体验5次</span>
			<div class="zhaoliao-1"></div>
			<div class="commen-link">
				<a href="/item/detail/id_101/" target="_blank" title="了解更多">了解更多</a>
			</div>
		</div>
	</div>
	
	<div class="p7"></div>
	
</div>

{include file="topic/topic_layer.html"}
{/block}