{extends file="layout.html"}
{block name="title"}服装单品-POP服装趋势网{/block}
{block name=keywords}近期热门单品,单品合辑电子书{/block}
{block name="description"}细致洞察消费者心态，追踪风格热点及文化符号。将单品归类，分析当下，聚焦革新。电子读物，综合单品合辑，时刻掌握趋势风向，打造极致单品。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/single/css/index.css?{STATIC_CHANGE_TIME}">
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/common/css/h5-common.css?{STATIC_CHANGE_TIME}">
{/block}

{block name="main"}
{include file="topic/common/h5-header.html"}
<div class="color-banner js-color-banner">
	<div class="w1200">
		<h1>单品</h1>
		<p class="pc-title">细致洞察消费者心态，追踪风格热点及文化符号。将单品归类，分析当下，聚焦革新。通过POP电子读物，<br/>综合单品合辑，时刻掌握趋势风向，打造极致单品</p>
		<p class="h5-title">细致洞察消费者心态，追踪风格热点及文化符号。将单品归类，分析当下，聚焦革新。通过POP电子读物，综合单品合辑，时刻掌握趋势风向，打造极致单品</p>
		<a href="/member/register/" class="h5-reg-btn">立即注册<i></i></a>		
	</div>
	
</div>

<div class="section-top">
	<div class="w1200">
		<div itemscope class="section1 clearfix js-section1" id="section1">
			<div class="con-lf fl">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/single/images/bs.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/single/images/bs-h5.png"></h2>
				<p itemprop="description">热门单品流行分析报告，涵盖综合单品，品牌单品，设计师品牌单品，展会单品等视角。通过切换单品，可查看更多单品分析报告</p>
				<div>
					<a href="/analysis/ind_6/#anchor" target="_blank">毛衫<i></i><em></em><span></span></a>
					<a href="/analysis/cat_11160/#anchor" target="_blank">大衣<i></i><em></em><span></span></a>
					<a href="/analysis/cat_11166/?m=0.7737486617659286#anchor" target="_blank">羽绒服<i></i><em></em><span></span></a>
					<a href="/analysis/cat_11152/#anchor" target="_blank">卫衣<i></i><em></em><span></span></a>
				</div>
			</div>
			<div class="con-rg fr">
				<h3>近期热门单品，多维度分析报告</h3>
				<div class="clearfix">
					<p class="p1">毛衫</p>
					<p class="p2">大衣</p>
					<p class="p3">羽绒服</p>
					<p class="p4">卫衣</p>
				</div>
				<ul>
					<li class="li1">
						<img src="{STATIC_URL2}/global/topic/single/images/bs1.jpg">
						<p>毛衫</p>
					</li>
					<li class="li2">
						<img src="{STATIC_URL2}/global/topic/single/images/bs2.jpg">
						<p>大衣</p>
					</li>
					<li class="li3">
						<img src="{STATIC_URL2}/global/topic/single/images/bs3.jpg">
						<p>羽绒服</p>
					</li>
					<li class="li4">
						<img src="{STATIC_URL2}/global/topic/single/images/bs4.jpg">
						<p>卫衣</p>
					</li>
				</ul>
			</div>
		</div>
		<div itemscope class="section2 clearfix js-section2" id="section2">
			<div class="con-rg fr">
				<h2 class="h2-pc"><img src="{STATIC_URL2}/global/topic/single/images/lb.png"></h2>
				<h2 class="h2-h5"><img src="{STATIC_URL2}/global/topic/single/images/lb-h5.png"></h2>
				<p itemprop="description">按季发布单品合辑电子读物，以单品视角，细分男女装单品，提炼最新风格款式特色，结合未来趋势，探索设计亮点</p>
				<a itemprop="url" href="/books/collections/" target="_blank"><span>查看单品合集<i></i></span><em></em></a>
			</div>
			<div class="con-lf fl">
				<h3>单品合辑电子书，每季新出</h3>
				<ul class="clearfix">
					<li><img src="{STATIC_URL2}/global/topic/single/images/lb1.jpg" alt="色彩" title="色彩"></li>
					<li><img src="{STATIC_URL2}/global/topic/single/images/lb2.jpg" alt="款式" title="款式"></li>									
					<li><img src="{STATIC_URL2}/global/topic/single/images/lb3.jpg" alt="细节" title="细节"></li>									
				</ul>
			</div>			
		</div>
	</div>
</div>

<div class="section5">
	<div class="w1200">
		<h2>POP提供丰富的使用体验</h2>
		<ul>
			<li><i></i>周更新1000+图集</li>
			<li><i></i>流行趋势观点预测</li>
			<li><i></i>打造团队协作工作室</li>
			<li><i></i>更强大的检索功能</li>
			<li><i></i>图文合辑更多视角</li>
			<li><i></i>前沿智能设计工具 &nbsp;&nbsp;</li>
		</ul>
	</div>
</div>

<div class="section6">
	<div class="w1200">
		<h2>更多使用指南</h2>
		<ul class="clearfix">
			<li>
				<a href="/topic/theme_color/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/single/images/img1.jpg" alt="主题色彩" title="主题色彩">
					<p>主题色彩</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/patterns/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/single/images/img2.jpg" alt="图案" title="图案">
					<p>图案</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/brand/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/single/images/img4.jpg" alt="品牌" title="品牌">
					<p>品牌</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
			<li>
				<a href="/topic/fabric/" target="_blank">
					<img src="{STATIC_URL2}/global/topic/single/images/img5.jpg" alt="面料" title="面料">
					<p>面料</p>
					<div class="opacityx40"></div>
					<div class="opacityx80"></div>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="section7">
	<div class="w1200">
		{if $account eq '' && $accountShow neq 'true'}
		<h2>即刻加入POP</h2>
		<p>获取时尚热点,创造你的流行势能</p>
		<div><span></span></div>		
		<a href="/member/register/" target="_blank">
			<span>立即注册<i></i></span>
			<em></em>
		</a>
		{else}
		<h2>成为VIP会员</h2>
		<p>尊享全站精选：趋势报告、款式、图集、设计素材...<br/>开启灵感致胜之旅</p>
		<div><span></span></div>		
		<a href="javascript:void(0);" class="js-contact-qq-btn">咨询VIP服务<i></i></a>
		{/if}
	</div>
</div>

<div class="section8">
	<div class="contact-box">
		<h2>电脑浏览,发现精彩免费内容</h2>
		<p>www.pop-fashion.com</p>
		<div>
			<em><img src="{STATIC_URL2}/global/topic/single/images/tel.png"></em>
		</div>
		<span>售前客服</span>
		<strong>4008 210 500</strong>
	</div>
</div>
{include file="topic/common/h5-footer.html"}
{/block}


{block name="self"}
<script type="text/javascript" src="{STATIC_URL2}/global/topic/single/js/index.js?{STATIC_CHANGE_TIME}"></script>
{/block}