.seo-title{display: none;}

body{background-color:#fff;}
.vip-banner{background: url(../images/banner.jpg?2018121101) no-repeat center top;width:100%;height:650px;}

.section1{padding:140px 0 110px;}
.phone-infor{margin-right:70px;text-align:right;}
.phone-infor>.p1{margin-top:20px;}
.phone-infor>.p1>i{font-size:55px;color:#333;font-style: italic;font-weight:bold;}
.phone-infor>.p1>img{position: relative;top:5px;left:10px;}
.phone-infor>.p2{font-size:34px;color:#000;margin-top:30px;font-weight:bold;}
.phone-infor>.p3{font-size:18px;color:#000;margin-top:30px;}


.section2{padding:130px 0 180px;}
.mac-img{margin-top:75px;}
.mac-infor{margin-left:50px;text-align:left;}
.mac-infor>.p1{margin-top:20px;}
.mac-infor>.p1>i{font-size:55px;color:#333;font-style: italic;font-weight:bold;}
.mac-infor>.p1>img{position: relative;top:5px;left:10px;}
.mac-infor>.p2{font-size:34px;color:#000;margin-top:30px;font-weight:bold;}
.mac-infor>.p3{font-size:18px;color:#000;margin-top:30px;}

.section3{padding:135px 0 135px;}
.house-infor{margin-right:70px;text-align:right;}
.house-infor>.p1{margin-top:30px;}
.house-infor>.p1>i{font-size:55px;color:#333;font-style: italic;font-weight:bold;}
.house-infor>.p1>img{position: relative;top:5px;left:10px;}
.house-infor>.p2{font-size:34px;color:#000;margin-top:30px;font-weight:bold;}
.house-infor>.p3{font-size:18px;color:#000;margin-top:30px;}

.section4{padding:135px 0 135px;}
.class-infor{margin-right:70px;text-align:left;}
.class-infor>.p1{margin-top:30px;}
.class-infor>.p1>i{font-size:55px;color:#333;font-style: italic;font-weight:bold;}
.class-infor>.p1>img{position: relative;top:5px;left:10px;}
.class-infor>.p2{font-size:34px;color:#000;margin-top:30px;font-weight:bold;}
.class-infor>.p3{font-size:18px;color:#000;margin-top:30px;}

.section5{background: url(../images/card.jpg) no-repeat center top;width:100%;height:650px;}
.card-infor{margin-right:70px;text-align:right;}
.card-infor>.p1{margin-top:135px;}
.card-infor>.p1>i{font-size:55px;color:#fff;font-style: italic;font-weight:bold;}
.card-infor>.p1>img{position: relative;top:5px;left:10px;}
.card-infor>.p2{font-size:34px;color:#fff;margin-top:30px;font-weight:bold;}
.card-infor>.p3{font-size:18px;color:#fff;margin-top:30px;}

.section6{background:url(../images/bottom.jpg) no-repeat center top;width:100%;height:1108px;}
.w1300{width:1300px;margin:0 auto;}
.vip-package{margin-top:80px;}
.vip-package>p{font-size:34px;color:#000;padding-top:80px;margin-right:70px;font-weight:bold;}
.vip-box>div>p>span{display:block;font-size:30px;color:#000;padding-top:35px;font-weight:bold;}
.vip-box>div>ul{margin-top:30px;}
.vip-box>div>ul>li{font-size:16px;color:#000;line-height:40px;}
.vip-box>div>ul>li>i{width:5px;height:5px;background-color:#000;border-radius:50%;display:inline-block;vertical-align:middle;margin-right:15px;}
.vip-box>div>ul>li>label{float: left;width:150px;display:inline-block;text-align:right;}
.vip-box>div>ul>li>div{float: left;}
.vip-box>.right-ul>p{padding-left:90px;}

.contact-box{text-align:center;padding-top:250px;}
.contact-box>p{font-size:34px;color:#fff;}
.contact-box>a{font-size:24px;color:#06022c;width:324px;height:53px;background-color:#fff;border-radius:30px;display:inline-block;line-height:53px;margin-top:25px;cursor: default;}
.contact-box>a>i{background:url(../images/tel.png) no-repeat;width:23px;height:30px;vertical-align:middle;margin-top:-3px;display:inline-block;margin-right:10px;}

@media screen and (min-width: 1500px){
    
    
    
}
