{extends file="layout.html"}"

{block name="title"}Jollychic-POP服装趋势网{/block}
{block name=keywords}Jollychic,合作伙伴招募{/block}
{block name=description}POP与Jollychic达成战略合作，Jollychic作为POP的战略销售平台，POP与Jollychic为您打造海外营销渠道。我们的合作伙伴招募行动正在持续进行中……{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css"
      href="{STATIC_URL2}/global/topic/20161222/css/index.css?{STATIC_CHANGE_TIME}">
{/block}
{block name="main"}

<div itemscope  class="container">
    <div itemscope  class="content">
      <div itemscope  class="wrap2">
          <div itemscope  class="banner_t">
              <ul>
                  <li class="logo1"><img src="{STATIC_URL2}/global/topic/20161222/images/logo1.png"/></li>
                  <li><img src="{STATIC_URL2}/global/topic/20161222/images/jolly.png" itemprop="thumbnail"/></li>
              </ul>
          </div>
          <div itemscope  class="banner_b">
              <p class="public t1" itemprop="description">POP与Jollychic达成战略合作,JOLLYCHIC作为POP的战略销售平台，</p>
              <p class="public t2" itemprop="description">POP与Jollychic为您打造海外营销渠道。</p>
              <p class="public t3" itemprop="description">合作伙伴招募进行时...</p>
              <div itemscope  class="about">
                  <p class="public t4" itemprop="description">关于JollyChic</p>
                  <p class="public t5" itemprop="description">JollyChic是国内领先的出海移动电商平台之一，旨在将全球优质品牌及商品，利用移动互联网的创新和大数据的应用，和全球消费者一起分享时尚的生活。
                      同时也希望能够助力中国制造升级、将中国品牌与设计产品输送到全球消费市场。</p>
                  <p class="public t6" itemprop="description">经过三年快速发展，产品销往全球超过175个国家和地区，用户数量已达千万级，旗下APP：JollyChic更是成为中东市场移动时尚购物的领先者。
                      现主要经营品类包括：男/女服装、鞋包、配饰、家居、母婴童玩、美体护肤、3C电子、智能产品等，品类还在不断扩充中......</p>
                  <p><img src="{STATIC_URL2}/global/topic/20161222/images/map.jpg" itemprop="thumbnail" alt="Jollychic全球分布" title="Jollychic全球分布"/></p>
              </div>
              <div itemscope  class="down">
                  <p class="public t7" itemprop="description"> IOS及android下载二维码</p>
                   <p class="t8" itemprop="description"><img src="{STATIC_URL2}/global/topic/20161222/images/jolly.jpg" alt="Jollychic的IOS及Android下载二维码" title="Jollychic的IOS及Android下载二维码"/></p>
                  <ul>
                      <li class="ma1">
                          <p itemprop="description">
                              <img src="{STATIC_URL2}/global/topic/20161222/images/ios.jpg" itemprop="thumbnail"/>
                              <img class="ios" src="{STATIC_URL2}/global/topic/20161222/images/iosz.jpg" itemprop="thumbnail"/>
                          </p>
                          <p class="www" itemprop="description">https://m.Jollychic.com</p>
                      </li>
                      <li class="m2">
                          <p itemprop="description">
                              <img src="{STATIC_URL2}/global/topic/20161222/images/andio.jpg" itemprop="thumbnail"/>
                              <img class="ios" src="{STATIC_URL2}/global/topic/20161222/images/an2.jpg" itemprop="thumbnail"/>
                          </p>
                          <p class="www" itemprop="description">https://www.Jollychic.com</p>
                      </li>
                  </ul>
              </div>

          </div>
      </div>
    </div>
    <div itemscope  class="content2">
        <div itemscope  class="wrap2">
        <div itemscope  class="box">
            <div itemscope  class="detail">
                <p  class="deitil1 chsVa" itemprop="name"><a href="https://jinshuju.net/f/chsVga" itemprop="description"  target="_blank"></a> </p>
                <p class="deitil2 chsVa" itemprop="name"><a  href="https://jinshuju.net/f/chsVga" itemprop="description" target="_blank"></a></p>
            </div>
            <div itemscope  class="history">
                <p class="public t9" itemprop="description">执御Jollychic发展历程</p>
                <ul>
                    <li><p><span class="span1">●</span>2012.12  执御成立</p></li>
                    <li><p><span class="span1">●</span>2013.03  获天使投资</p></li>
                    <li><p><span class="span1">●</span>2013.07  旗下JollyChic平台上线</p></li>
                    <li><p><span class="span1">●</span>2014.11  获得21项自主研发软件著作权</p></li>
                    <li><p><span class="span2">●</span>2014.12  年度销售额超过1亿元人民币</p></li>
                    <li><p><span class="span2">●</span>2015.05  JollyChic APP正式上线</p></li>
                    <li><p><span class="span2">●</span>2015.05  获得上市企业富安娜、浙江富润等产业资本投资</p></li>
                    <li><p><span class="span2">●</span>2015.06  成为中国（杭州）跨境电商综试区首批试点企业</p></li>
                    <li><p><span class="span2">●</span>2015.07  获得“最值得期待创业公司30强”业</p></li>
                    <li><p><span class="span2">●</span>2015.11  JollyChic APP成为中东地区移动购物领先者</p></li>
                    <li><p><span class="span3">●</span>2015.12  年度销售额10亿元人民币</p></li>
                    <li><p><span class="span3">●</span>2016.06  央视主流媒体走访执御，且获焦点访谈等栏目专题采访</p></li>
                    <li><p><span class="span3">●</span>2016.10  获得“中国最具投资价值50强企业”</p></li>
                </ul>
                <ul class="county_list">
                    <li><img class="img1" src="{STATIC_URL2}/global/topic/20161222/images/county.jpg" itemprop="thumbnail"/></li>
                    <li><img src="{STATIC_URL2}/global/topic/20161222/images/kj.jpg" itemprop="thumbnail"/></li>
                    <li><img class="img3" src="{STATIC_URL2}/global/topic/20161222/images/cctv.jpg" itemprop="thumbnail"/></li>
                    <li><img class="img4" src="{STATIC_URL2}/global/topic/20161222/images/half.jpg" itemprop="thumbnail"/></li>
                    <li><img class="img5" src="{STATIC_URL2}/global/topic/20161222/images/ft.jpg" itemprop="thumbnail"/></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>

{include file="topic/topic_layer.html"}
{/block}

