{extends file="layout.html"}"

{block name="title"}法国面料趋势私享会-POP服装趋势网{/block}
{block name=keywords}法国时尚资讯体验,内部趋势书籍资料,最新前沿设计素材{/block}
{block name=description}2017年最新法国面辅料展会资讯分享，火热报名中！仅设30席！时间：2017.3.18；地址：上海外滩；咨询热线：4008-210-500。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css"
      href="{STATIC_URL2}/global/topic/20170111/css/index.css?{STATIC_CHANGE_TIME}">
{/block}

{block name="main"}
   <div itemscope  class="container">
       <div itemscope  class="banner">
           <div itemscope  class="box">
               <a itemprop="url" href="https://jinshuju.net/f/46AXOX" class="to_apply" target="_blank"></a>
           </div>
       </div>
       <div itemscope  class="content">
           <div itemscope  class="content1">
               <p itemprop="name" class="experience">这是一场别有情调的法国时尚资讯体验</p>
               <div itemscope  class="w1000 bg_price">
                   <div itemscope  class="detail">
                       <img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20170111/images/price.png"/>
                       <div itemscope  class="price price_01">
                           <h4>美食</h4>
                           <p itemprop="name" class="p2">提供极具格调的下午茶点美食，聊天洽谈，获悉趋势，享受惬意美好时光。</p>
                       </div>
                       <div itemscope  class="price price_02">
                           <h4>美景</h4>
                           <p itemprop="name">时尚上海，外滩黄金地段美景尽收眼底。 </p>
                       </div>
                       <div itemscope  class="price price_03">
                           <h4>趋势</h4>
                           <p itemprop="name">由POP权威导师为您分析并共享法国面辅料展会上的主题趋势、色彩趋势、面料趋势等重要信息。</p>
                       </div>
                       <div itemscope  class="price price_04">
                           <h4>商拍</h4>
                           <p itemprop="name">现场分享来自展会的产品实物商拍，了解现场展出产品具体信息，获悉国际时尚前沿开发趋势。</p>
                       </div>
                   </div>
               </div>
           </div>
           <div itemscope  class="content2"> </div>
           <div itemscope  class="content3">
		    <div class="clearfix w1013">
		      <p class="price_05 fl"><img src="{STATIC_URL2}/global/topic/20170111/images/56002.jpg"/></p>
			  <div class="price_06 fr">
			       <h2>内部趋势书籍资料</h2>
				   <p class="mar">来自展会现场的色彩、主题等趋势书籍内部资料<span>（A+A PRINT , Chiron,Chroma，Calin， PROMOSTYL等品牌）</span>，给设计师带来下一季的趋势指导。
</p>
                   <h2>最新前沿设计素材</h2>
				   <p>各品牌第一手花型图案资料，供设计师参考。<span>（高清，矢量等多种格式）</span></p>
			  </div>
			</div>
		   </div>
           <div itemscope  class="content4">
               <div itemscope  class="w1000">
                   <a itemprop="url" class="to_apply2" href="https://jinshuju.net/f/46AXOX" target="_blank"></a>
               </div>
           </div>


       </div>
   </div>

{include file="topic/topic_layer.html"}
{/block}