{extends file="layout.html"}
{block name="title"}时尚产业研发资源,创造时尚设计资源新生态-趋势书籍|时尚课程|设界|优料宝-POP服装趋势网{/block}
{block name=keywords}POP服装趋势网,时尚趋势书籍,图案书籍,时尚课程,趋势解读直播课,时尚游学,设界,优料宝,面料供应{/block}
{block name="description"}POP服装趋势网整合时尚产业研发设计资源，从各类时尚趋势书籍、图案书籍、趋势手稿到时尚直播课程、游学、短训班、趋势解读课程，为时尚企业提供创新和学习途径，设界公共空间为时尚行业提供舒适高效办公服务，优料宝提供一对一找面料、辅料服务，帮助企业解决找料难题。POP创造时尚设计资源新生态，引领时尚产业新革命！{/block}
{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/css/lib/swp.css?{STATIC_CHANGE_TIME}">
<link rel="stylesheet" type="text/css" href="{STATIC_URL3}/global/js/lib/aos/aos.css?{STATIC_CHANGE_TIME}" />
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/resources/css/index.css?{STATIC_CHANGE_TIME}" />
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/common/css/h5-common.css?{STATIC_CHANGE_TIME}">
{/block}
{block name="main"}
{include file="topic/common/h5-header.html"}
<div class="main pc-main">
    <section class="s1" id="s1">
        <div class="banner-box">
            <div class="banner">
                <div class="w1442"></div>
                <div class="w1200">
                    <img class="title" aos="fade-up" aos-delay="200" aos-anchor="#s1" src="{STATIC_URL2}/global/topic/resources/images/s1_t.png?{STATIC_CHANGE_TIME}" alt="创造资源新生态" />
                    <img class="people" aos="fade-up" aos-delay="400" aos-anchor="#s1" src="{STATIC_URL2}/global/topic/resources/images/s1_img.png?{STATIC_CHANGE_TIME}" alt="创造资源新生态" />
                </div>
            </div>
        </div>
        <section class="sec1" id="s1-sec1">
            <div class="title_h">趋势书籍指导</div>
            <div class="w1200 clearfix" aos="fade-up" aos-delay="200" aos-anchor="#s1-sec1">
                <img class="fl" src="{STATIC_URL2}/global/topic/resources/images/s1_img1.png?{STATIC_CHANGE_TIME}" alt="趋势书籍指导" />
                <div class="fr">
                    <div class="title"><img src="{STATIC_URL2}/global/topic/resources/images/s1_t1.png?{STATIC_CHANGE_TIME}" alt="《APM》时尚趋势胶囊书籍" /></div>
                    <p>涵盖了pop按季度推出的专业实体书籍，线下活动产品、精选款式电子资料包等多位产品，被意为“pop时尚小怪兽”。半月刊、高频次、趋势胶囊，为设计提供源源不断的新鲜灵感，趋势观点速递。</p>
                    <p>A刊主要是针对普遍适用的市场，从大框架和大环境下着重培养设计师的整体趋势把控能力、慧眼识金的爆款能力；B刊主要针对单品维度，以市场的关注热度为顺序，作为提炼核心单品的爆款向导，帮助老板和设计师重点突破热门单品。</p>
                </div>
            </div>
        </section>
        <section class="sec2" id="s1-sec2">
            <div class="w1200 clearfix" aos="fade-up" aos-delay="200" aos-anchor="#s1-sec2">
                <div class="title">POPOCKET图案趋势</div>
                <img class="fl" src="{STATIC_URL2}/global/topic/resources/images/s1_img2.png?{STATIC_CHANGE_TIME}" alt="POPOCKET图案趋势" />
                <div class="fr">
                    <p>POPOCKET图案趋势服装设计灵感时尚花型图案系列，是针对最新图案趋势进行指导和预测的一本图案流行趋势书籍。</p>
                    <p>通过对前沿趋势的整合，展示图案与工艺的流行方向以及流行元素点，对未来的图案方向提供切实详尽的指导和预测。</p>
                    <p>
                        每本书包含120+张原创精美矢量图，通过对发布会的分析总结，重新定义延伸设计图案，
                        更好地服务设计师。从中提炼出四大秀场、小四大发布会，showroom、订货会、预售款等最新时尚亮点。同时通过Top榜花型总结、款式模板小工具、智能云图一键试衣等小工具的辅助，让企业更直观的了解图案流行趋势以及使用感，服务于不同风格的客户。
                    </p>
                </div>
            </div>
        </section>
        <section class="sec3">
            <div class="w1200 clearfix">
                <div class="fl">
                    <div class="title"><img src="{STATIC_URL2}/global/topic/resources/images/s1_t2.png?{STATIC_CHANGE_TIME}" alt="MOS趋势手稿" /></div>
                    <p>
                        《Mostrend》趋势书籍是针对未来色彩趋势进行指导和预测的一本色彩流行趋势书籍。通过每季主题趋势进行整合，展示色彩PCCS系统数据分析、关键色、色彩搭配等内容，对未来色彩方向提供详尽的指导与预测。从中提炼出四大秀场、小四大发布会，showroom、订货会、预售款等最新时尚亮点。同时通过对最近三季色彩演变的分析研究和比对，让企业更直观的了解色彩流行趋势的变化，服务于不同风格的客户。
                    </p>
                </div>
                <img class="fr" src="{STATIC_URL2}/global/topic/resources/images/s1_img3.png?{STATIC_CHANGE_TIME}" alt="MOS趋势手稿" />
            </div>
        </section>
    </section>
    <section class="s2" id="s2">
        <div class="banner-box">
            <div class="title_h title_h_white" aos="fade-up" aos-delay="200" aos-anchor="#s2">行业教育</div>
            <div class="banner" aos="fade-up" aos-delay="400" aos-anchor="#s2"></div>
            <div class="w1200">
                <div class="title" aos="fade-up" aos-delay="600" aos-anchor="#s2"></div>
                <p aos="fade-up" aos-delay="800" aos-anchor="#s2">
                    时创教育(Fashion Creativity Education)是POP时尚网络旗下致力于为中国时尚企业提供创新的发展思路和学习途径，为时尚企业的创建、发展和转型提供国际、国内专业师资与课程。
                    时创的知识资源来自全球法国、意大利、英国、日本、韩国等主要时尚行业发达的城市和成功品牌，为企业管理者提供涵盖品牌管理、产品开发管理、商品管理、营销管理、生产管理全链条的时尚行业专业培训学习服务。
                </p>
            </div>
        </div>
        <section class="sec1" id="s2-sec1">
            <div class="title_h title_h_min">教育模块</div>
            <ul class="w1200">
                <li class="c1" aos="fade-up" aos-delay="200" aos-anchor="#s2-sec1"><div class="result"></div></li>
                <li class="c2" aos="fade-up" aos-delay="800" aos-anchor="#s2-sec1"><div class="result"></div></li>
                <li class="c3" aos="fade-up" aos-delay="400" aos-anchor="#s2-sec1"><div class="result"></div></li>
                <li class="c4" aos="fade-up" aos-delay="600" aos-anchor="#s2-sec1"><div class="result"></div></li>
                <li class="c5" aos="fade-up" aos-delay="1000" aos-anchor="#s2-sec1"><div class="result"></div></li>
            </ul>
        </section>
        <section class="sec2" id="s2-sec2">
            <div class="title_h title_h_min" aos="fade-up" aos-delay="200" aos-anchor="#s2-sec2">行业大咖课</div>
            <ul class="w1200 list-ul">
                <li class="r1" aos="fade-up" aos-delay="400" aos-anchor="#s2-sec2">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/p_5e65d482a7143_NVmtLYly/6" target="_blank">
                        <div class="tit">服装供应链”6宗最“</div>
                        <p>超顺的6节课程全面解读供应链实际应用提高利润来自供应链流程顺畅</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img1.png?{STATIC_CHANGE_TIME}" alt="服装供应链”6宗最“" />
                    </a>
                </li>
                <li class="r2" aos="fade-up" aos-delay="600" aos-anchor="#s2-sec2">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/p_5e54e9900909d_M3emm6Ol/6" target="_blank">
                        <div class="tit">打造线上成交高手</div>
                        <p>线上学习脱变营</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img2.png?{STATIC_CHANGE_TIME}" alt="打造线上成交高手" />
                    </a>
                </li>
                <li class="r3" aos="fade-up" aos-delay="800" aos-anchor="#s2-sec2">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e533fdd9f4bd_VWtXazUL/4" target="_blank">
                        <div class="tit">零售量化管理研究之</div>
                        <p>生意重构的6大模型</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img3.png?{STATIC_CHANGE_TIME}" alt="零售量化管理研究之" />
                    </a>
                </li>
            </ul>
        </section>
        <section class="sec3" id="s2-sec3">
            <div class="title_h title_h_min" aos="fade-up" aos-delay="200" aos-anchor="#s2-sec3">趋势解读课</div>
            <ul class="w1200 list-ul">
                <li class="r4" aos="fade-up" aos-delay="400" aos-anchor="#s2-sec3">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e606cd6cafbb_7FbsGeKG/4" target="_blank">
                        <div class="tit">色彩趋势解读课</div>
                        <p>针对国内女装重点风格-简欧中淑趋势色彩分析</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img4.png?{STATIC_CHANGE_TIME}" alt="色彩趋势解读课" />
                    </a>
                </li>
                <li class="r5" aos="fade-up" aos-delay="600" aos-anchor="#s2-sec3">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e58a58094f3a_qguYfg2H/4" target="_blank">
                        <div class="tit">女装工艺趋势</div>
                        <p>POP女装资深趋势专家将深度提炼合二为一的设计手法，实操再设计的应用特点。</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img5.png?{STATIC_CHANGE_TIME}" alt="女装工艺趋势" />
                    </a>
                </li>
                <li class="r6 pt24" aos="fade-up" aos-delay="800" aos-anchor="#s2-sec3">
                    <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5dbfd26be2f93_R4kHMQ5k/4" target="_blank">
                        <div class="tit">主题面料趋势分享</div>
                        <p>平纹棉、纸棉、布雷布衬衫面料以及各类洗水棉，经典的编织结构，配合再生有机棉、竹节纱、生态认证棉等环保纤维打造出细腻自然的面料织物。</p>
                        <img src="{STATIC_URL2}/global/topic/resources/images/s2_img6.png?{STATIC_CHANGE_TIME}" alt="主题面料趋势分享" />
                    </a>
                </li>
            </ul>
        </section>
        <a class="more-btn" href="https://appmfz0ensy5593.pc.xiaoe-tech.com/page/800948" target="_blank" aos="fade-up" aos-delay="1000" aos-anchor="#s2-sec3"><span>了解更多</span></a>
    </section>
    <section class="s3" id="s3">
        <div class="banner-box">
            <div class="title" aos="fade-up" aos-delay="200" aos-anchor="#s2">
                <span>联合众创<i></i>设计无界</span>
                <p>时尚行业众创集成空间，为您提供舒适高效的办公服务</p>
            </div>
            <div class="banner" aos="fade-up" aos-delay="400" aos-anchor="#s3">
                <a class="tit" href="/topic/20171129/" target="_blank">了解更多<i></i></a>
            </div>
            <div class="w1200">
                <div class="title" aos="fade-up" aos-delay="600" aos-anchor="#s3"></div>
                <p aos="fade-up" aos-delay="800" aos-anchor="#s3">
                    设界是逸尚云联从线上走到线下的众创互联空间项目。该项目孵化于2016年，成立于2017年，是面向时尚产业创造者们的联合办公+联合展示空间，是以服务设计为切入口的时尚产业链接器及创研孵化加速器。该项目以园区服务赋能+精英人才游牧办公+产业孵化培育的创意创业深度服务特色，促活升级各地园区有招商无运营的现状，并且形成以“设计”为杠杆聚合撬动当地产业资源能量的新型模式。
                </p>
            </div>
        </div>
        <div class="title_h title_h_min">设界核心优势</div>
        <section class="sec1">
            <div class="w1200 nav-img-box">
                <div class="bgcolor"></div>
                <ul class="bimg-box js-bimg-box">
                    <li class="on"><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_m1.png?{STATIC_CHANGE_TIME}" alt="专注时尚产业" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_m2.png?{STATIC_CHANGE_TIME}" alt="云端产业互联" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_m3.png?{STATIC_CHANGE_TIME}" alt="全生命周期服务" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_m1.png?{STATIC_CHANGE_TIME}" alt="数据趋势+产业展示" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_m2.png?{STATIC_CHANGE_TIME}" alt="1+N多地联合溢出" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_m3.png?{STATIC_CHANGE_TIME}" alt="线上线下互动" /></li>
                </ul>
                <ul class="msg-box js-msg-box">
                    <li class="on">
                        <div class="tit">专注时尚产业</div>
                        <p>唯一一家14年服务时尚产业的产业互联网平台，聚焦时尚产业链联动，形成更好的上中下游的环环递进。</p>
                    </li>
                    <li>
                        <div class="tit">云端产业互联</div>
                        <p>可实现会员智能系统，产业链内会员形成多渠道多通路联动效益，共享平台60万企业客户资源。</p>
                    </li>
                    <li>
                        <div class="tit">全生命周期服务</div>
                        <p>从创意灵感、智能设计到制造样品，再到市场营销一站式服务，帮助创意产品全体系得以实现和快速市场化。</p>
                    </li>
                    <li>
                        <div class="tit">数据趋势+产业展示</div>
                        <p>定期根据数据趋势形成沉浸式展示，共享1.8亿趋势素材资料；为企业提供从灵感到形象展示的优化升级；未来定向形成当地产业趋势指数研究成果发布。</p>
                    </li>
                    <li>
                        <div class="tit">1+N多地联合溢出</div>
                        <p>设界产业地多地联网共享体系；从当地到外地； 帮助产业地优势产品形成常态化聚合展示。</p>
                    </li>
                    <li>
                        <div class="tit">线上线下互动</div>
                        <p>线下入驻企业，可通过设界、POP、优料宝等多个自有线上服务平台，以及整合当地线上互联网平台进行从推广到获客到销售的全过程，轻松O2O经营互动。</p>
                    </li>
                </ul>
                <ul class="mimg mimg-box1 js-mimg" data-idx="0">
                    <li class="on hover"><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_s1.png?{STATIC_CHANGE_TIME}" alt="专注时尚产业" /><div class="mask"></div></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_s1.png?{STATIC_CHANGE_TIME}" alt="数据趋势+产业展示" /><div class="mask"></div></li>
                </ul>
                <ul class="mimg mimg-box2 js-mimg" data-idx="1">
                    <li class="on"><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_s2.png?{STATIC_CHANGE_TIME}" alt="云端产业互联" /><div class="mask"></div></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_s2.png?{STATIC_CHANGE_TIME}" alt="1+N多地联合溢出" /><div class="mask"></div></li>
                </ul>
                <ul class="mimg mimg-box3 js-mimg" data-idx="2">
                    <li class="on"><img src="{STATIC_URL2}/global/topic/resources/images/s3_p1_s3.png?{STATIC_CHANGE_TIME}" alt="全生命周期服务" /><div class="mask"></div></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_p2_s3.png?{STATIC_CHANGE_TIME}" alt="线上线下互动" /><div class="mask"></div></li>
                </ul>
                <ul class="pager-box js-nav-img-pager">
                    <li class="txt"><span>1/6</span></li>
                    <li class="arrow"><i class="l"></i><i class="r"></i></li>
                </ul>
                <div class="txt1"></div>
                <div class="txt2"></div>
            </div>
        </section>
        <section class="sec2">
            <div class="w1200 nav-txt-box js-nav-txt-box">
                <ul class="pager-box js-nav-txt-pager">
                    <li class="on">
                        <div class="tit">盛泽设界</div>
                        <p>SHENGZE SHEJIE</p>
                    </li>
                    <li>
                        <div class="tit">桐乡设界</div>
                        <p>TONGXIAN SHEJIE</p>
                    </li>
                    <li>
                        <div class="tit">广州设界</div>
                        <p>GUANGZHOU SHEJIE</p>
                    </li>
                    <li>
                        <div class="tit">南通设界</div>
                        <p>NANTONG SHEJIE</p>
                    </li>
                    <li>
                        <div class="tit">绍兴设界</div>
                        <p>SHAOXING SHEJIE</p>
                    </li>
                </ul>
                <ul class="img-box js-nav-txt-img-box">
                    <li class="on"><img src="{STATIC_URL2}/global/topic/resources/images/s3_l1.png?{STATIC_CHANGE_TIME}" alt="盛泽设界" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_l2.png?{STATIC_CHANGE_TIME}" alt="桐乡设界" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_l3.png?{STATIC_CHANGE_TIME}" alt="广州设界" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_l4.png?{STATIC_CHANGE_TIME}" alt="南通设界" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s3_l5.png?{STATIC_CHANGE_TIME}" alt="绍兴设界" /></li>
                </ul>
                <ul class="msg-box js-nav-txt-msg-box">
                    <li class="on">
                        <p class="mb"><span>占地面积：</span>1.2万方</p>
                        <p><span>项目定位：</span>中国高端面料专业市场与服饰设计集群高地</p>
                        <p><span>合作伙伴：</span>中国东方丝绸市场、江苏盛泽东方纺织城发展有限公司</p>
                        <p><span>项目特点：</span>依托盛泽产地优势，设计赋能孵化及吸引设计师人才</p>
                        <a class="detail-btn" href="javascript:void(0);" target="_blank">查看详情<i></i></a>
                    </li>
                    <li>
                        <p class="mb"><span>占地面积：</span>1.6万方</p>
                        <p><span>嘉兴设界（濮院设界）</span></p>
                        <p><span>项目定位：</span>浙江省毛衫产业创新服务综合体</p>
                        <p><span>合作伙伴：</span>桐乡濮院政府</p>
                        <p><span>项目特点：</span>荣获首批浙江省省级产业创新服务综合体</p>
                        <a class="detail-btn" href="javascript:void(0);" target="_blank">查看详情<i></i></a>
                    </li>
                    <li>
                        <p class="mb"><span>占地面积：</span>1500平米</p>
                        <p><span>项目定位：</span>时尚纺织产业界唯一以“服务设计”为切入口的时尚产业链接器和创研孵化加速器</p>
                        <p><span>合作伙伴：</span>广州轻纺交易</p>
                        <p><span>项目特点：</span>以“设计+面料+教育”为模式撬动当地产业资源能量的公共服务平台体系</p>
                        <a class="detail-btn" href="javascript:void(0);" target="_blank">查看详情<i></i></a>
                    </li>
                    <li>
                        <p class="mb"><span>占地面积：</span>4400平米</p>
                        <p><span>项目定位：</span>全国首家家纺 lifestyle 概念的综合服务中心</p>
                        <p><span>合作伙伴：</span>"南通川姜镇政府“</p>
                        <p><span>项目特点：</span>和政府联合打造从家纺设计链接整个产业服务的 综合服务中心，整合内外部产业链优质资源聚焦家纺特色从生活方式链接家具、家居服、面料等多方面外部资源，形成整体生活方式的资源共同体系。</p>
                        <a class="detail-btn" href="javascript:void(0);" target="_blank">查看详情<i></i></a>
                    </li>
                    <li>
                        <p class="mb"><span>占地面积：</span>40000平米</p>
                        <p><span>项目定位：</span>“赋布成衣”的综合一体化时尚设计创研中心</p>
                        <p><span>合作伙伴：</span>柯桥长发商业广场</p>
                        <p><span>项目特点：</span>帮助合作伙伴从项目定位策划到载体运营，一个集趋势灵感-面料图书馆供应链-中样板房-能力培训-发布展示-展贸对接等，线下云端互联一体化智慧产业服务空间体系打造。</p>
                        <a class="detail-btn" href="javascript:void(0);" target="_blank">查看详情<i></i></a>
                    </li>
                </ul>
                <ul class="m-pager-box js-m-pager">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
    </section>
    <section class="s4" id="s4">
        <div class="banner-box">
            <div class="title_h title_h_white" aos="fade-up" aos-delay="200" aos-anchor="#s4">面辅料供应商</div>
            <div class="banner" aos="fade-up" aos-delay="400" aos-anchor="#s4"></div>
            <div class="w1200">
                <div class="title" aos="fade-up" aos-delay="600" aos-anchor="#s4"></div>
                <p aos="fade-up" aos-delay="800" aos-anchor="#s4">
                    找料帮提供一对一配套服务，保质保量，交易省心，帮助服装企业足不出户解决找面料难的问题，并解决服装相关辅料订货难题。找料帮整体交易简单精准，多家长期合作供应商提供报价与供货，实现货比三家，品质放心。
                </p>
            </div>
        </div>
        <section class="sec1">
            <ul class="w1200 thimg-list-box">
                <li>
                    <img src="{STATIC_URL2}/global/topic/resources/images/s4_i1.png?{STATIC_CHANGE_TIME}" alt="找面料" />
                    <div class="def-box"><i class="i1"></i></div>
                    <div class="ctn-box">
                        <span>找面料</span><br />
                        <i></i>
                        <p>
                            现货、订货，足不出户解决找面<br />
                            料难、累、贵难题。
                        </p>
                    </div>
                </li>
                <li>
                    <img src="{STATIC_URL2}/global/topic/resources/images/s4_i2.png?{STATIC_CHANGE_TIME}" alt="找辅料" />
                    <div class="def-box"><i class="i2"></i></div>
                    <div class="ctn-box">
                        <span>找辅料</span><br />
                        <i></i>
                        <p>
                            花边、纽扣、绣章、洗标、吊牌、<br />
                            织标、印标，和服装相关辅料都<br />
                            可以找到现货或订货。
                        </p>
                    </div>
                </li>
                <li>
                    <img src="{STATIC_URL2}/global/topic/resources/images/s4_i3.png?{STATIC_CHANGE_TIME}" alt="找工厂" />
                    <div class="def-box"><i class="i3"></i></div>
                    <div class="ctn-box">
                        <span>找工厂</span><br />
                        <i></i>
                        <p>
                            可来料加工，也可包工包料（成衣、袜子、<br />
                            毛衫）高性价比，保质、保量更放心。
                        </p>
                    </div>
                </li>
            </ul>
            <a class="more-btn" href="/topic/20171208/" target="_blank"><span>了解更多</span></a>
        </section>
        <section class="sec2" id="s4-sec2">
            <div class="w1200 clearfix">
                <div class="title_h title_h_min" aos="fade-up" aos-delay="200" aos-anchor="#s4-sec2">优料宝</div>
                <img class="fl" aos="fade-up" aos-delay="400" aos-anchor="#s4-sec2" src="{STATIC_URL2}/global/topic/resources/images/s4_img1.png?{STATIC_CHANGE_TIME}" alt="优料宝" />
                <div class="fr">
                    <img aos="fade-up" aos-delay="600" aos-anchor="#s4-sec2" src="{STATIC_URL2}/global/topic/resources/images/logo_ulb.png?{STATIC_CHANGE_TIME}" alt="优料宝" />
                    <p aos="fade-up" aos-delay="800" aos-anchor="#s4-sec2">
                        优料宝致力打造“专业面料交易平台”，依托于专业背景与科技助力，全面助力设计师实现面辅料快捷采购，帮助企业实现快时尚和柔性生产，目前有百万种面料，2万个商家，数万名设计师，迅速发展，逐渐成为设计师的选面料主力平台。
                    </p>
                </div>
            </div>
        </section>
        <section class="sec3">
            <div class="w1200 nav-txt-box js-nav-txt-box">
                <ul class="pager-box js-nav-txt-pager">
                    <li class="on">
                        <div class="tit">我们的优势</div>
                        <p>OUR STRENGTHS</p>
                    </li>
                    <li>
                        <div class="tit">3D试衣</div>
                        <p>3D FITTING</p>
                    </li>
                    <li>
                        <div class="tit">灵感与面料</div>
                        <p>INSPIRATION AND FABRIC</p>
                    </li>
                </ul>
                <ul class="img-box js-nav-txt-img-box">
                    <li class="on"><img src="{STATIC_URL2}/global/topic/resources/images/s4_l1.png?{STATIC_CHANGE_TIME}" alt="我们的优势" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s4_l2.png?{STATIC_CHANGE_TIME}" alt="3D试衣" /></li>
                    <li><img src="{STATIC_URL2}/global/topic/resources/images/s4_l3.png?{STATIC_CHANGE_TIME}" alt="灵感与面料" /></li>
                </ul>
                <ul class="msg-box js-nav-txt-msg-box">
                    <li class="on">
                        <p class="mb">优料宝，是融合时尚、科技和专业资源的移动面料交易平台。优料宝能简单、快捷、精确地对接设计师和面料商的需求，实现采购与供应的“小批量、短交期和高质量”</p>
                        <p>优料宝平台，依托POP趋势资讯－服饰研发必备平台，拥有十二年累积的庞大、即时更新的国内外时尚资讯库，与全国80％服装品牌企业常年保持良好的合作关系，独家享有60万在线服装设计师资源。</p>
                    </li>
                    <li>
                        <p>男女青中百种款式，一键3D试衣即可获得面料在真人身上呈现的立体效果。设计师再也不用为看效果浪费精力做预览，面料商再也不用为卖面料做样衣，省时，省力，省心！</p>
                    </li>
                    <li>
                        <p>我们是服饰行业中的百度12年扎根在时尚信息前沿拥有注册用户 800,000， 每天在线设计师 180,000，每周活跃的企业用户多达10万家，POP汇聚前沿的优质面料，种类单元，现货直达，应有尽有。让你以灵感或研发思路就能找到所需好面料，让灵感变现实，让创意更自信，全面助力设计！</p>
                    </li>
                </ul>
                <ul class="m-pager-box js-m-pager">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <a class="more-btn" href="http://www.uliaobao.com/" target="_blank"><span>了解更多</span></a>
        </section>
    </section>
</div>
<div class="main h5-main">
    <section class="s1" id="s1">
        <div class="banner-box">
            <div class="banner"></div>
        </div>
        <section class="sec1" id="s1-sec1">
            <div class="title_h">趋势书籍指导</div>
            <div class="w1200 clearfix">
                <img class="fl"
                    src="{STATIC_URL2}/global/topic/resources/images/h5/s1_img1.png?{STATIC_CHANGE_TIME}"
                    alt="趋势书籍指导" />
                <div class="fr">
                    <div class="title">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s1_t1.png?{STATIC_CHANGE_TIME}"
                            alt="《APM》时尚趋势胶囊书籍" />
                        <span>《APM》时尚趋势胶囊书籍</span>
                    </div>
                    <div class="info">
                        <p>涵盖了pop按季度推出的专业实体书籍，线下活动产品、精选款式电子资料包等多位产品，被意为“pop时尚小怪兽”。半月刊、高频次、趋势胶囊…<span
                                class="more js-more">展开<i></i></span></p>
                        <p>涵盖了pop按季度推出的专业实体书籍，线下活动产品、精选款式电子资料包等多位产品，被意为“pop时尚小怪兽”。半月刊、高频次、趋势胶囊，为设计提供源源不断的新鲜灵感，趋势观点速递。
                        </p>
                        <p>A刊主要是针对普遍适用的市场，从大框架和大环境下着重培养设计师的整体趋势把控能力、慧眼识金的爆款能力；B刊主要针对单品维度，以市场的关注热度为顺序，作为提炼核心单品的爆款向导，帮助老板和设计师重点突破热门单品。<span
                                class="more on js-more">收起<i></i></span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec2" id="s1-sec2">
            <div class="w1200 clearfix">
                <img class="fl"
                    src="{STATIC_URL2}/global/topic/resources/images/h5/s1_img2.png?{STATIC_CHANGE_TIME}"
                    alt="POPOCKET图案趋势" />
                <div class="fr">
                    <div class="title">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s1_t2.png?{STATIC_CHANGE_TIME}"
                            alt="POPPCKET图案趋势" />
                        <span>POPPCKET图案趋势</span>
                    </div>
                    <div class="info">
                        <p>POPOCKET图案趋势服装设计灵感时尚花型图案系列，是针对最新图案趋势进行指导和预测的一本图案流行趋势书籍…<span
                                class="more js-more">展开<i></i></span></p>
                        <p>POPOCKET图案趋势服装设计灵感时尚花型图案系列，是针对最新图案趋势进行指导和预测的一本图案流行趋势书籍。</p>
                        <p>通过对前沿趋势的整合，展示图案与工艺的流行方向以及流行元素点，对未来的图案方向提供切实详尽的指导和预测。</p>
                        <p>每本书包含120+张原创精美矢量图，通过对发布会的分析总结，重新定义延伸设计图案，更好地服务设计师。从中提炼出四大秀场、小四大发布会，showroom、订货会、预售款等最新时尚亮点。同时通过Top榜花型总结、款式模板小工具、智能云图一键试衣等小工具的辅助，让企业更直观的了解图案流行趋势以及使用感，服务于不同风格的客户。<span
                                class="more on js-more">收起<i></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec3">
            <div class="w1200 clearfix">
                <img class="fl"
                    src="{STATIC_URL2}/global/topic/resources/images/h5/s1_img3.png?{STATIC_CHANGE_TIME}"
                    alt="MOS趋势手稿" />
                <div class="fr">
                    <div class="title"><img
                            src="{STATIC_URL2}/global/topic/resources/images/h5/s1_t3.png?{STATIC_CHANGE_TIME}"
                            alt="MOS趋势手稿" />
                        <span>MOS趋势手稿</span>
                    </div>
                    <div class="info">
                        <p>《Mostrend》趋势书籍是针对未来色彩趋势进行指导和预测的一本色彩流行趋势书籍。通过每季主题趋势进行整合，展示色彩PCCS系统数据分析…<span
                                class="more js-more">展开<i></i></span></p>
                        <p>《Mostrend》趋势书籍是针对未来色彩趋势进行指导和预测的一本色彩流行趋势书籍。通过每季主题趋势进行整合，展示色彩PCCS系统数据分析、关键色、色彩搭配等内容，对未来色彩方向提供详尽的指导与预测。从中提炼出四大秀场、小四大发布会，showroom、订货会、预售款等最新时尚亮点。同时通过对最近三季色彩演变的分析研究和比对，让企业更直观的了解色彩流行趋势的变化，服务于不同风格的客户。<span
                                class="more on js-more">收起<i></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="s2" id="s2">
        <div class="banner-box">
            <div class="title_h title_h_white">行业教育</div>
            <div class="banner"></div>
            <div class="w1200">
                <div class="title">
                    <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_t1.png?{STATIC_CHANGE_TIME}"
                        alt="时尚创造进步的力量" />
                    <span>时尚创造进步的力量</span>
                </div>
                <div class="info">
                    <p>时创教育(Fashion Creativity Education) 是POP时尚网络旗下致力于为中国时尚企业提供创新的发展思路和学习途径，为时尚企业的创建…<span
                            class="more js-more">展开<i></i></span></p>
                    <p>时创教育(Fashion Creativity
                        Education)是POP时尚网络旗下致力于为中国时尚企业提供创新的发展思路和学习途径，为时尚企业的创建、发展和转型提供国际、国内专业师资与课程。时创的知识资源来自全球法国、意大利、英国、日本、韩国等主要时尚行业发达的城市和成功品牌，为企业管理者提供涵盖品牌管理、产品开发管理、商品管理、营销管理、生产管理全链条的时尚行业专业培训学习服务。<span
                            class="more on js-more">收起<i></i></span>
                    </p>
                </div>
            </div>
        </div>
        <section class="sec1" id="s2-sec1">
            <div class="title_h">教育模块</div>
            <div class="w1200">
                <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_c.png?{STATIC_CHANGE_TIME}"
                    alt="教育模块" />
            </div>
        </section>
        <section class="sec2" id="s2-sec2">
            <div class="title_h">行业大咖课</div>
            <div class="list-ul" id="list-ul1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/p_5e65d482a7143_NVmtLYly/6"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img1.png?{STATIC_CHANGE_TIME}"
                                alt="色彩趋势解读课" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/p_5e54e9900909d_M3emm6Ol/6"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img2.jpg?{STATIC_CHANGE_TIME}"
                                alt="女装工艺趋势" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e533fdd9f4bd_VWtXazUL/4"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img3.png?{STATIC_CHANGE_TIME}"
                                alt="主题面料趋势分享" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec3" id="s2-sec3">
            <div class="title_h">趋势解读课</div>
            <div class="list-ul" id="list-ul2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e606cd6cafbb_7FbsGeKG/4"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img4.png?{STATIC_CHANGE_TIME}"
                                alt="色彩趋势解读课" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5e58a58094f3a_qguYfg2H/4"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img5.png?{STATIC_CHANGE_TIME}"
                                alt="女装工艺趋势" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://appmfz0ensy5593.pc.xiaoe-tech.com/detail/l_5dbfd26be2f93_R4kHMQ5k/4"
                            target="_blank">
                            <img src="{STATIC_URL2}/global/topic/resources/images/h5/s2_img6.png?{STATIC_CHANGE_TIME}"
                                alt="主题面料趋势分享" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <a class="more-btn" href="https://appmfz0ensy5593.pc.xiaoe-tech.com/page/800948"
            target="_blank"><span>了解更多</span></a>
    </section>
    <section class="s3" id="s3">
        <div class="banner-box">
            <div class="title">
                <span>联合众创<i></i>设计无界</span>
                <p>时尚行业众创集成空间，为您提供舒适高效的办公服务</p>
            </div>
            <div class="banner"></div>
            <div class="w1200">
                <div class="title"><img
                        src="{STATIC_URL2}/global/topic/resources/images/h5/s3_t1.png?{STATIC_CHANGE_TIME}"
                        alt="设界" />
                    <span>设界</span>
                </div>
                <div class="info">
                    <p>设界是逸尚云联从线上走到线下的众创互联空间项目。该项目孵化于2016年，成立于2017年，是面向时尚产业创造者们的联合办公…<span
                            class="more js-more">展开<i></i></span></p>
                    <p>设界是逸尚云联从线上走到线下的众创互联空间项目。该项目孵化于2016年，成立于2017年，是面向时尚产业创造者们的联合办公+联合展示空间，是以服务设计为切入口的时尚产业链接器及创研孵化加速器。该项目以园区服务赋能+精英人才游牧办公+产业孵化培育的创意创业深度服务特色，促活升级各地园区有招商无运营的现状，并且形成以“设计”为杠杆聚合撬动当地产业资源能量的新型模式。<span
                            class="more on js-more">收起<i></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="title_h">设界核心优势</div>
        <section class="sec1">
            <div class="nav-img-box" id="nav-img-box">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p1_m1.png?{STATIC_CHANGE_TIME}"
                            alt="专注时尚产业">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p1_m2.png?{STATIC_CHANGE_TIME}"
                            alt="云端产业互联">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p1_m3.png?{STATIC_CHANGE_TIME}"
                            alt="全生命周期服务">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p2_m1.png?{STATIC_CHANGE_TIME}"
                            alt="数据趋势+产业展示">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p2_m2.png?{STATIC_CHANGE_TIME}"
                            alt="1+N多地联合溢出">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_p2_m3.png?{STATIC_CHANGE_TIME}"
                            alt="线上线下互动">
                    </div>
                </div>
                <div class="nav-img-pagination"></div>
            </div>
        </section>
        <section class="sec2">
            <div class="nav-txt-box" id="nav-txt-box1">
                <div class="nav-txt-pagination nav-txt-pagination1"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_l1.png?{STATIC_CHANGE_TIME}"
                            alt="盛泽设界">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_l2.png?{STATIC_CHANGE_TIME}"
                            alt="桐乡设界">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_l3.png?{STATIC_CHANGE_TIME}"
                            alt="广州设界">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_l4.png?{STATIC_CHANGE_TIME}"
                            alt="南通设界">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s3_l5.png?{STATIC_CHANGE_TIME}"
                            alt="绍兴设界">
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="s4" id="s4">
        <div class="banner-box">
            <div class="title_h title_h_white">面辅料供应商</div>
            <div class="banner"></div>
            <div class="w1200">
                <div class="title"><img
                        src="{STATIC_URL2}/global/topic/resources/images/h5/s4_t1.png?{STATIC_CHANGE_TIME}"
                        alt="找料帮" />
                    <span>找料帮</span>
                </div>
                <div class="info">
                    <p>找料帮提供一对一配套服务，保质保量，交易省心，帮助服装企业足不出户解决找面料难的问题，并解决服装相关辅料订货难题…<span
                            class="more js-more">展开<i></i></span></p>
                    <p>找料帮提供一对一配套服务，保质保量，交易省心，帮助服装企业足不出户解决找面料难的问题，并解决服装相关辅料订货难题。找料帮整体交易简单精准，多家长期合作供应商提供报价与供货，实现货比三家，品质放心。<span
                            class="more on js-more">收起<i></i></span>
                    </p>
                </div>
            </div>
        </div>
        <section class="sec1">
            <div class="thimg-list-box" id="thimg-list-box">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_i1.png?{STATIC_CHANGE_TIME}"
                            alt="找面料">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_i2.png?{STATIC_CHANGE_TIME}"
                            alt="找辅料">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_i3.png?{STATIC_CHANGE_TIME}"
                            alt="找工厂">
                    </div>
                </div>
            </div>
            <a class="more-btn" href="https://www.pop-fashion.com/topic/20171208/"
                target="_blank"><span>了解更多</span></a>
        </section>
        <section class="sec2" id="s4-sec2">
            <div class="clearfix">
                <div class="title_h">优料宝</div>
                <img class="fl"
                    src="{STATIC_URL2}/global/topic/resources/images/h5/s4_img1.jpg?{STATIC_CHANGE_TIME}"
                    alt="优料宝" />
            </div>
        </section>
        <section class="sec3">
            <div class="nav-txt-box" id="nav-txt-box2">
                <div class="nav-txt-pagination nav-txt-pagination2"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_l1.jpg?{STATIC_CHANGE_TIME}"
                            alt="我们的优势">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_l2.png?{STATIC_CHANGE_TIME}"
                            alt="3D试衣">
                    </div>
                    <div class="swiper-slide">
                        <img src="{STATIC_URL2}/global/topic/resources/images/h5/s4_l3.png?{STATIC_CHANGE_TIME}"
                            alt="灵感面料">
                    </div>
                </div>
            </div>
            <a class="more-btn" href="http://www.uliaobao.com/" target="_blank"><span>了解更多</span></a>
        </section>
    </section>
    <!-- 电脑浏览 -->
    <div class="section-pc-common">
        <div class="contact-box">
            <h2>电脑浏览，体验更佳！</h2>
            <p>www.pop-fashion.com</p>
            <div>
                <em><img src="{STATIC_URL2}/global/topic/scene_home/images/tel.png"></em>
            </div>
            <span>售前客服</span>
            <strong>4008 210 500</strong>
        </div>
    </div>
</div>
<div class="h5-footer">
    <p class="h5-law">上海逸尚云联信息技术股份有限公司 © 2004-2020<br/>法律顾问：北京中银（上海）律师事务所 <a href="http://www.beian.miit.gov.cn/" target="_blank">沪ICP备06003020号-1</a></p>
    <div class="safty-info">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000973"><img src="{STATIC_URL2}/global/images/safty.png" class="fl"><p class="fl">沪公网安备 31010402000973号</p></a>
    </div>
</div>
{/block}
{block name="self"}
<script type="text/javascript" src="{STATIC_URL3}/global/js/lib/swiper/swiper.min.js?{STATIC_CHANGE_TIME}"></script>
<script type="text/javascript" src="{STATIC_URL3}/global/js/lib/aos/aos.js?{STATIC_CHANGE_TIME}"></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1500,
        once: true
    });
    $(function () {
        var navImgPage = 1;
        var navImgPageTotal = 2;
        var navImgAllLen = $('.js-bimg-box').children().length;
        var navImgPageSize = navImgAllLen / navImgPageTotal;
        $('.js-mimg').click(function () {
            var el = $(this);
            var idx = el.find('.on').index();
            var index = el.data().idx;
            var pager = el.siblings('.js-nav-img-pager');
            navImgPage = idx * navImgPageSize + index + 1;
            $('.js-mimg').children().removeClass('hover');
            el.children().eq(idx).addClass('hover');
            pager.find('.txt>span').text(navImgPage + '/' + navImgAllLen);
            el.parent().find('.js-bimg-box').children().eq(idx * navImgPageSize + index).addClass('on').siblings().removeClass('on');
            el.parent().find('.js-msg-box').children().eq(idx * navImgPageSize + index).addClass('on').siblings().removeClass('on');
        });
        $('.js-nav-img-pager').on('click', 'i', function () {
            var el = $(this);
            var pager = el.parents('.js-nav-img-pager');
            var navImgBox = pager.parent();
            if (el.hasClass('l')) {
                navImgPage--;
            } else {
                navImgPage++;
            }
            if (navImgPage < 1) {
                navImgPage = navImgAllLen;
            }
            if (navImgPage > navImgAllLen) {
                navImgPage = 1;
            }
            for (var i = 0; i < navImgPageSize; i++) {
                $($('.js-mimg')[i]).children().eq(Math.floor(navImgPage / (navImgPageSize + 1))).addClass('on').siblings().removeClass('on');
            }
            $('.js-mimg').children().removeClass('hover');
            $($('.js-mimg')[navImgPage <= navImgPageSize ? navImgPage - 1 : navImgPage - navImgPageSize - 1]).children().eq(Math.floor(navImgPage / (navImgPageSize + 1))).addClass('hover');
            pager.find('.txt>span').text(navImgPage + '/' + navImgAllLen);
            navImgBox.find('.js-bimg-box').children().eq(navImgPage - 1).addClass('on').siblings().removeClass('on');
            navImgBox.find('.js-msg-box').children().eq(navImgPage - 1).addClass('on').siblings().removeClass('on');
        });

        var intervalObj = {};
        $($('.js-m-pager')[0]).children().eq(0).addClass('on');
        $($('.js-m-pager')[1]).children().eq(0).addClass('on');
        intervalObj[0] = setInterval(function () {
            initInterval(0, 5);
        }, 3000);
        intervalObj[1] = setInterval(function () {
            initInterval(1, 3);
        }, 3000);
        $($('.js-nav-txt-box')[0]).hover(function() {
            clearInterval(intervalObj[0]);
        }, function() {
            intervalObj[0] = setInterval(function () {
                initInterval(0, 5);
            }, 3000);
        });
        $($('.js-nav-txt-box')[1]).hover(function() {
            clearInterval(intervalObj[1]);
        }, function() {
            intervalObj[1] = setInterval(function () {
                initInterval(1, 3);
            }, 3000);
        });
        function initInterval(i, l) {
            var navTxtBox = $($('.js-nav-txt-box')[i]);
            var navTxtPager = navTxtBox.find('.js-nav-txt-pager');
            var idx = navTxtPager.find('.on').index();
            idx++;
            if (idx > l - 1) {
                idx = 0;
            }
            navTxtPager.children().eq(idx).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-nav-txt-img-box').children().eq(idx).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-nav-txt-msg-box').children().eq(idx).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-m-pager').children().eq(idx).addClass('on').siblings().removeClass('on');
        }
        $('.js-nav-txt-pager').on('click', 'li', function() {
            var idx = $(this).index();
            var navTxtBox = $(this).parents('.js-nav-txt-box');
            $(this).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-nav-txt-img-box').children().eq(idx).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-nav-txt-msg-box').children().eq(idx).addClass('on').siblings().removeClass('on');
            navTxtBox.find('.js-m-pager').children().eq(idx).addClass('on').siblings().removeClass('on');
        })
    });
    window.onload = function() {
		var navImgSwiper = new Swiper("#nav-img-box", {
			loop: true,
			autoplay: {
				disableOnInteraction: false,
			},
			pagination: {
				el: ".nav-img-pagination",
				type: "custom",
				renderCustom: function (swiper, current, total) {
					return (
						"0" +
						current +
						"<i><i style='width:" +
						(current / total) * 100 +
						"%;'></i></i>0" +
						total
					);
				},
			},
		});

		var navTxtSwiper1 = new Swiper("#nav-txt-box1", {
			loop: true,
			autoplay: {
				disableOnInteraction: false,
			},
			pagination: {
				el: ".nav-txt-pagination1",
				clickable: true,
				type: "custom",
				renderCustom: function (swiper, current, total) {
					return (
						"<ul><li " +
						((current === 1 && "class='on'") || "") +
						">盛泽设界</li><li " +
						((current === 2 && "class='on'") || "") +
						">桐乡设界</li><li " +
						((current === 3 && "class='on'") || "") +
						">广州设界</li><li " +
						((current === 4 && "class='on'") || "") +
						">南通设界</li><li " +
						((current === 5 && "class='on'") || "") +
						">绍兴设界</li></ul>"
					);
				},
			},
			on: {
				paginationRender: function () {
					$(".nav-txt-pagination1")
						.find("li")
						.each(function (i, v) {
							v.onclick = function () {
								navTxtSwiper1.slideTo(i + 1);
							};
						});
				},
			},
		});

		var navTxtSwiper2 = new Swiper("#nav-txt-box2", {
			loop: true,
			autoplay: {
				disableOnInteraction: false,
			},
			pagination: {
				el: ".nav-txt-pagination2",
				clickable: true,
				type: "custom",
				renderCustom: function (swiper, current, total) {
					return (
						"<ul><li " +
						((current === 1 && "class='on'") || "") +
						">我们的优势</li><li " +
						((current === 2 && "class='on'") || "") +
						">3D试衣</li><li " +
						((current === 3 && "class='on'") || "") +
						">灵感面料</li></ul>"
					);
				},
			},
			on: {
				paginationRender: function () {
					$(".nav-txt-pagination2")
						.find("li")
						.each(function (i, v) {
							v.onclick = function () {
								navTxtSwiper2.slideTo(i + 1);
							};
						});
				},
			},
		});

		var listUlSwiper1 = new Swiper("#list-ul1", {
			loop: true,
			loopedSlides: 2,
			autoplay: {
				disableOnInteraction: false,
			},
			slidesPerView: 1,
			spaceBetween: ((screen.width / 375) * 20).toFixed(4) * 1,
		});

		var listUlSwiper2 = new Swiper("#list-ul2", {
			loop: true,
			loopedSlides: 2,
			autoplay: {
				disableOnInteraction: false,
			},
			slidesPerView: 1,
			spaceBetween: ((screen.width / 375) * 20).toFixed(4) * 1,
		});

		var thimgListSwiper = new Swiper("#thimg-list-box", {
			loop: true,
			loopedSlides: 2,
			autoplay: {
				disableOnInteraction: false,
			},
			slidesPerView: 1,
			spaceBetween: ((screen.width / 375) * 20).toFixed(4) * 1.23,
		});

		$('.js-more').on('click', function() {
			if ($(this).hasClass('on')) {
				$(this).parents('.info').removeClass('on');
			} else {
				$(this).parents('.info').addClass('on');
			}
		});
    }
</script>
{/block}
