*, :after, :before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 0 5px hsl(0deg 0% 100% / 5%);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.15);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgb(37 37 37 / 5%);
}

::selection {
  color: #fff;
  background: #1890ff;
}
