{extends file="layout.html"}
{block name="title"}找回密码-POP服装趋势网{/block}
{block name='selfcss'}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_URL1}/global/css/user/findpassword.css?{$smarty.const.STATIC_CHANGE_TIME}">
{/block}
{block name="self"}
<!-- <script type="text/javascript" src="{STATIC_URL3}/global/js/user/findpassword.js?{STATIC_CHANGE_TIME}"></script> -->
<script type="text/javascript" src="{STATIC_URL3}/global/js/user/findpassword_new.js?{STATIC_CHANGE_TIME}"></script>
{/block}
{block name="main"}
<div class="findUser">
    <div class="head">
        <div class="crumbs js-crumbs"><span>登录页</span>><span class="action">找回密码</span></div>
    </div>
    <div class="findMain">
        <div class="mainHead js-head" style="display: none;">找回密码</div>
        <div class="progressHead js-pro">
            <div class="head-progress js-progress">
                <span><label class="progress">1</label>验证身份</span>
                <span style="margin: 0 75px;"><label>2</label>重置密码</span>
                <span><label>3</label>成功</span>
            </div>
            <div class="pro-dashed"></div>
        </div>
        <!-- 找回密码方式dom -->
        <div class="mainTable js-find-type">
            <div class="tableH1">
                <span class="action" style="cursor: default;">请选择您需要找回的账号密码</span>
            </div>
            <div class="find-btn js-find-btn" data-id="main" data-text="找回管理员账号密码">找回管理员账号密码</div>
            <div class="find-btn js-find-btn" data-id="child" data-text="找回设计师账号密码">找回设计师账号密码</div>
            <div class="find-btn type-btn js-type-btn">下一步</div>
        </div>
        <!-- 找回密码dom -->
        <div class="mainTable js-find-box" style="display: none;">
            <!-- <div class="tableH1">
                <span class="action js-action">找回注册账号密码</span>
            </div> -->
            <div class="mainUl" style="margin-top: 0px;padding-top: 50px;">
                <p class="errorbox" style="top:20px;"></p>
                <div class="mainLi js-account">
                    <label>账号</label>
                    <input type="text" id="account" class='isTable' placeholder="请输入账号"/>
                    <!-- <span class="js-find-phone" id="mobileprompt">通过账号查找手机<label>忘记手机号了？您还可以点击通过账号查手机找回您的手机号。<s></s><t></t><b></b></label></span> -->
                    <p class="msg"></p>
                </div>
                <div class="mainLi">
                    <label>手机号</label>
                    <input type="text" class='isTable' id="phone" placeholder="请输入手机号"/>
                    <p class="msg"></p>
                </div>
                <div class="mainLi">
                    <label>验证码</label>
                    <input type="text" id="verifyCode" class='isTable'  placeholder="请输入验证码"/>
                    <span class="js-code-btn3" data-type="FORGET_PWD">获取验证码</span>
                    <p class="msg"></p>
                </div>
                <div class="code-btn1" style="margin-top: 30px;">
                    <div class="code_btn js-click-btn" data-cla=".js-puzzle-drag-content1">点击按钮完成图形验证</div>
                    <div class="puzzle-drag-wraper js-drag-show" style="display: none;">
                        <s class="drag-s"></s>
                        <t class="drag-t"></t>
                        <div class="puzzle-drag-content js-puzzle-drag-content1">
                            <div class="drag-title clearfix">
                                <span>为保证你的账户安全，请先完成图形验证</span>
                                <span class="close js-close"></span>
                                <span class="change js-change"><i></i>换一换</span>
                            </div>
                            <div class="puzzle-img-box">
                                <div class="puzzle-img js-puzzle-img">
                                    <img>
                                </div>
                                <div class="puzzle-lost js-puzzle-lost">
                                    <img>
                                </div>
                            </div>
                            <div class="drag-slide-nav">
                                <div class="drag-slide-text">
                                    <div class="drag-slide-left"></div>
                                    <div class="drag-slide-center">向右滑动完成拼图</div>
                                    <div class="drag-slide-right"></div>
                                </div>
                                <div class="drag-slide-bar js-drag-slide-bar">
                                    <div class="drag-slide-bar-left"></div>
                                    <div class="drag-slide-bar-center"></div>
                                    <div class="drag-slide-bar-right"></div>
                                </div>
                                <div class="drag-slide-btn js-drag-slide-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-submit js-find">下一步</div>
            </div>
        </div>
        <!-- 设置新密码dom -->
        <div class="mainTable js-reset-pwd" style="display: none;">
            <!-- <div class="tableH1">
                <span class="action">重置密码</span>
            </div> -->
            <div class="mainUl">
                <p class="errorbox"></p>
                <div class="mainLi">
                    <label>新密码</label>
                    <input type="text" class='isTable' id="new-pwd" placeholder="请输入新密码"/>
                    <p class="msg" data-text="新密码"></p>
                </div>
                <div class="mainLi">
                    <label>再次输入</label>
                    <input type="text" class='isTable' id="reap-pwd" placeholder="请再次输入密码"/>
                    <p class="msg" data-text="再次输入密码"></p>
                </div>
                <div class="tab-submit js-pwd-submit action">提交</div>
            </div>
        </div>
        <!-- 修改密码成功dom -->
        <div class="alter-box js-alter-success" style="display: none;">
            <img src="../../../global/images/user/success.png">
            <div class="success">
                <span>修改成功，请重新登录您的账户！</span>
                <span>请牢记您的账户密码。页面正在跳转中……或点击<a href="/member/pagelogin/">立即登录</a></span>
            </div>
        </div>
        <div class="contact">
            <div>
                若遇到问题：您可通过联系客服热线
                <span>4008-210-662</span>
                <a class="js-contact-qq-btn" data-type='1' style="margin-right: 0;cursor: pointer;"><i></i>在线客服</a>
                <a href="/member/leavemessage"><i class="i-img"></i>线上留言</a>
                的方式找回密码
            </div>
        </div>
    </div>
    <!-- 通过手机查找 -->
    <div class="fg_tel_layer">
        <div class="fg_tel_box">
            <h1>通过账号查手机</h1>
            <div class="fg_tel_info" style="display:none;">
                <span class="fl"></span>
                <div class="fl">您当前账号绑定手机号为<em>133****5555</em>，如需更改绑定手机号，请联系客服 <span>4008-210-662</span></div>
            </div>
            <div class="no_tel_num" style="display:none;">
                <span class="fl"></span>
                <div class="fl">很抱歉！未查询到此账号的绑定手机号，如您未绑定过手机请联系客服<span>4008-210-662</span> 帮助您获取密码。</div>
            </div>
            <a href="javascript:void(0);" class="fg_close"></a>
        </div>
    </div>
</div>
{/block}