.head {
    height: 493px;
    background: url(../images/head-bg.png) no-repeat center !important;
    background-size: 100% 100%;
}

.head>.headSpan {
    font-size: 72px;
    padding-top: 106px;
    margin-right: 600px;
}

.head>.headSpan2 {
    font-size: 65px;
    margin: 10px 0;
    margin-right: 600px;
}

.head>.headSpan3 {
    font-size: 37px;
    margin-right: 600px;
}

.head>.headSpan3>i {
    width: 80px;
    border-bottom: 2px solid #666;
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

.topList>.bnt {
    background: url(../images/btn.png) !important;
    height: 54px;
    width: 266px;
    margin: 100px auto 80px;
    line-height: 54px;
    font-size: 18px;
}

.topList>.bnt>.selectTime {
    position: absolute;
    top: 54px;
    left: 0;
    width: 250px;
}

.topList>.bnt>.selectTime>span {
    line-height: 52px;
    height: 52px;
    width: 100%;
    background-color: #9ea1f8;
}

.topList>.bnt>.selectTime>span:hover{
    background-color: #7872f6;
}

.topList>.bnt>i {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    background: url(../images/ie-title-icon.png) !important;
}

.topList>ul {
    width: 1200px;
}

.topList>ul li {
    width: 270px;
    height: 270px;
    margin: 15px;
}

.topList>ul li>span {
    width: 80px;
    height: 93px;
}

.bottomBg {
    height: 227px;
    background: url(../images/bottom.png) no-repeat center !important;
    background-size: 100% 100%;
}