p{margin: 0;}
a{text-decoration: none;}
ul{list-style: none;padding: 0;margin: 0;}
.fl{float: left;}
.fr{float: right;}
.w1200{width: 1200px;margin: 0 auto;}
.w1500{width: 1500px;margin: 0 auto;}
.clearfix{*zoom: 1;}
.clearfix:after{content:".";display: block;height: 0;clear: both;visibility: hidden;font-size:0;line-height:0;}
.overflow-layer{overflow:hidden;}
html,body{min-width: 1745px;margin: 0;}

.viewport{position: relative;background: #242937;color: #fff;font-family:MicrosoftYaHei;cursor: default;overflow: hidden;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
/* 头图 */
.banner{height: 350px;margin: 0 auto;background: #292F3E;position: relative;overflow: hidden;}
.banner>div{width: 2000px;height: 350px;background: url(./img/banner.png) no-repeat center;background-size: cover;position: absolute;left: 50%;margin-left: -1000px;}
/* 导航选项 */
.nav{background: #303649;}
.nav-content{height: 64px;line-height: 64px;}
.nav-sex{text-align: center;background: #303649;color: #9899AD;font-size: 14px;border-radius:5px;border:1px solid #434B65;overflow: hidden;margin: 1em 0;}
.nav-sex>li{float: left;width:53px;height:33px;line-height: 33px;background:#303649;position: relative;cursor: pointer;}
.nav-sex>li>i{position: absolute;left: 0;top: 50%;margin-top: -6px;width:1px;height:12px;background: #434B65;}
.nav-sex>li:hover{color: #fff;}
.nav-sex>li.active{background: #434B65;color: #fff;}
.nav-sex>li.active+li>i{display: none;}
.nav-week{position: relative;font-size: 14px;height: 33px;line-height: 33px;display: inline-block;vertical-align: middle;cursor: pointer;}
.nav-week>i{display: inline-block;width: 7px;height: 5px;background: url(./img/arrow_d_week.png) no-repeat;background-size: cover;margin-left: 6px;}
.nav-week-options{width:104px;background:#303649;box-shadow:0px 6px 12px -10px rgba(0,0,0,0.18);border-radius:5px;border:1px solid #3e465f;overflow: hidden;position: absolute;right: 0;top: 33px;text-align: center;padding: 5px 0;cursor: default;color: #9899AD;z-index: 1;display: none;}
.nav-week-options>li{height:28px;line-height: 28px;margin: 10px 0;cursor: pointer;}
.nav-week-options>li:hover{color: #fff;}
.nav-week-options>li.active{background: #434B65;color: #fff;}
.nav-week:hover .nav-week-options{display: block;}
/* 内容区块 */
.section{margin: 48px auto;border-radius:16px;background: #292F3E;overflow: hidden;}
.section-header{height: 103px;line-height: 103px;background: #303649;padding: 0 48px;box-sizing: border-box;overflow: hidden;}
.section-header>.title{font-size: 36px;}
.section-header>.info{display: inline-block;width: 538px;font-size: 16px;line-height: 24px;color: #9899AD;margin: 27px 16px;}
.section-header>.info>span{color: #fff;}
.section-header .season{font-size: 16px;color: #9899AD;display: inline-block;vertical-align: middle;}
.section-header .season>li{float: left;padding: 0 19px;height: 36px;line-height: 36px;border-radius:18px;cursor: pointer;}
.section-header .season>li:hover{color: #fff;}
.section-header .season>li.active{background:rgba(255,195,89,0.08);color: #FFC359;}
.section-header .pager{display: inline-block;}
.section-header .pager>i{display: inline-block;width: 12px;height: 12px;position: relative;top: 2px;cursor: pointer;}
.section-header .pager>i.l{background: url(./img/arrow_l_def_pager.png) no-repeat center;background-size: cover;margin-right: 5px;}
.section-header .pager>i.l:hover{background: url(./img/arrow_l_hover_pager.png) no-repeat center;background-size: cover;}
.section-header .pager>i.l.disabled{background: url(./img/arrow_l_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}
.section-header .pager>i.r{background: url(./img/arrow_r_def_pager.png) no-repeat center;background-size: cover;}
.section-header .pager>i.r:hover{background: url(./img/arrow_r_hover_pager.png) no-repeat center;background-size: cover;}
.section-header .pager>i.r.disabled{background: url(./img/arrow_r_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}
/* 面包屑 */
.crumbs{display: inline-block;height: 22px;line-height: 22px;font-size: 12px;margin: 36px 0 0 48px;color: #9899AD;}
.crumbs div{display: inline-block;}
.crumbs .title{font-size:30px;font-family:PingFangSC-Medium,PingFang SC;font-weight:500;color:#fff;line-height:42px;margin-right: 8px;}
.crumbs>.light-tips{margin-right: 8px;position: relative;cursor: pointer;}
.crumbs>.light-tips>i.light{display: inline-block;width: 16px;height: 16px;background: url(./img/light_def.png) no-repeat center;background-size: cover;position: relative;top: 2px;margin: 0;}
.crumbs>.light-tips:hover>i.light{background: url(./img/light_active.png) no-repeat center;background-size: cover;}
.crumbs>.light-tips>.light-tips-content{position: absolute;top: 30px;left: -20px;width: 333px;background: #303649;border-radius: 5px;border:1px solid #394057;font-size: 12px;padding: 15px;box-sizing: border-box;display: none;}
.crumbs>.light-tips>.light-tips-content ul{list-style: disc;margin-left: 10px;}
.crumbs>.light-tips>.light-tips-content>.arrow{position: absolute;top: -12px;left: 22px;width: 10px;height: 12px;background: url(./img/arrow_up_tips.png) no-repeat center 100%;background-size: 100%;}
.crumbs>.light-tips:hover>.light-tips-content{display: block;}
.crumbs .crumbs-content i{display: inline-block;width: 6px;height: 10px;background: url(./img/arrow_r_crumb.png) no-repeat center;background-size: cover;margin: 0 8px 0 5px;}
.crumbs-content span{display: inline-block;height: 22px;cursor: pointer;}
.crumbs-content span:hover{color: #fff;}
.crumbs-content>div:last-child{color: #fff;}
.crumbs-content>div:last-child>span{cursor: default;}
/* 图表 */
.section-chart{margin-bottom: 30px;}
.section-chart-content>div.wp100{width: 100%;}
.section-chart-content>div{width: 50%;min-height: 300px;/* height: 534px; */box-sizing: border-box;position: relative;}
.section-chart-content>div+div{border-left: 1px solid #333947;}
.section-chart-content .total{position: absolute;left: 60px;bottom: 0;color: #9899AD;font-size: 12px;list-style: disc;}
.section-chart-content .color-btn{width: 150px;height: 150px;line-height: 150px;text-align: center;border-radius: 50%;font-size: 24px;color: #9899AD;background: #292F3E;cursor: pointer;position: absolute;left: 50%;top: 50%;margin: -75px 0 0 -75px;}
.section-chart-content .color-btn:hover{color: #fff;}
.section-chart-content .color-title{position: absolute;bottom: 30px;width: 100%;text-align: center;font-size:16px;font-family:MicrosoftYaHei;color:#9899ad;line-height:24px;}
.section-chart-content .color-title>div{display: inline-block;margin: 0 19px;}
.section-chart-content .color-title>div>i{display: inline-block;width: 22px;height: 22px;margin-right: 8px;}
.section-chart-content .color-title>div>i.l{background: url(./img/primary_color_icon_colored.png) no-repeat center;background-size: cover;}
.section-chart-content .color-title>div>i.r{background: url(./img/primary_color_icon_colorless.png) no-repeat center;background-size: cover;}
.section-chart-content .color-title>div>span{font-size:28px;font-family:Arial-BoldMT,Arial;color:#fff;line-height:32px;margin-right: 6px;}
/* 数据解读 */
.section-chart-interpreta{margin: 0 45px;}
.section-chart-interpreta>.title{height: 45px;}
.section-chart-interpreta>p{margin-top: 10px;margin-bottom: 35px;font-size: 16px;color: #9899AD;line-height: 28px;}
.h-line{height: 1px;background: #333947;margin: 0 45px 35px;}
/* 推荐 */
.recommend-header{margin: 0 45px 38px;height: 32px;line-height: 32px;}
.recommend-header>.title{font-size: 24px;color: #fff;}
.recommend-header>.more{display: inline-block;font-size: 16px;color: #AAAABA;cursor: pointer;}
.recommend-header>.more>i{display: inline-block;width: 20px;height: 20px;background: url(./img/see_more_def.png) no-repeat center;background-size: cover;position: relative;top: 4px;margin-left: 6px;}
.recommend-header>.more:hover{color: #fff;}
.recommend-header>.more:hover>i{background: url(./img/see_more_active.png) no-repeat center;background-size: cover;}
.recommend-content{position: relative;}
.recommend-content>.pager>i{display: inline-block;width: 24px;height: 24px;position: absolute;top: 50%;cursor: pointer;margin-top: -37px;}
.recommend-content>.pager>i.l{background: url(./img/arrow_l_def_pager.png) no-repeat center;background-size: cover;left: 18px;}
.recommend-content>.pager>i.l:hover{background: url(./img/arrow_l_hover_pager.png) no-repeat center;background-size: cover;}
.recommend-content>.pager>i.l.disabled{background: url(./img/arrow_l_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}
.recommend-content>.pager>i.r{background: url(./img/arrow_r_def_pager.png) no-repeat center;background-size: cover;right: 18px;}
.recommend-content>.pager>i.r:hover{background: url(./img/arrow_r_hover_pager.png) no-repeat center;background-size: cover;}
.recommend-content>.pager>i.r.disabled{background: url(./img/arrow_r_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}
.recommend-list{margin: 0 45px;}
.recommend-item>li{float: left;width: 210px;height: 280px;border-radius: 5px;background: #303649;margin: 0 12px 50px;cursor: pointer;overflow: hidden;}
.recommend-item>li>img{width: 100%;}
.recommend-item-all{margin: 56px 30px 30px;}
.recommend-item-all>.recommend-item>li{margin: 0 15px 50px;}
.recommend-content>.more{display: block;width: 197px;height: 64px;line-height: 64px;text-align: center;margin: 0 auto;color: #fff;border-radius:32px;border:2px solid #414b62;cursor: pointer;box-sizing: border-box;}
.recommend-content>.more:hover{background: #414b62;}
.recommend-content>.more>i{display: inline-block;width: 16px;height: 16px;background: url(./img/see_more_arrow.png) no-repeat center;background-size: cover;margin-left: 5px;}
/* 推荐色 */
.recommend-color-chart{height: 303px;border-radius:5px;overflow: hidden;margin: 40px 48px 18px;}
.recommend-color-chart>li{text-align: center;float: left;width:64px;height:303px;box-sizing: border-box;cursor: pointer;position: relative;transition: width 0.2s ease-in-out;overflow: hidden;}
.recommend-color-chart>li>.border{text-align: left;width:176px;height:212px;border:2px solid #fff;margin: 33px 0 0 33px;opacity: 0;transition: opacity 0.2s ease-in-out;}
.recommend-color-chart>li>.border>.title{font-size:38px;font-family:Arial-BoldMT,Arial;color:#fff;line-height:46px;letter-spacing:2px;white-space: nowrap;margin: 27px 0 0 20px;}
.recommend-color-chart>li>.border>.model{font-size:20px;font-family:ArialMT;color:#fff;line-height:28px;margin: 5px 0 0 20px;}
.recommend-color-chart>li>.border>.pantone{font-size:14px;font-family:ArialMT;color:#fff;line-height:28px;margin: 68px 0 0 20px;}
.recommend-color-chart>li>.v-line{text-align: right;width:1px;height:210px;background: #fff;margin: 33px 31px 0 0;position: relative;opacity: 0;transition: opacity 0.2s ease-in-out;}
.recommend-color-chart>li>.v-line>span{position: absolute;right: 16px;bottom: 0;font-size:24px;font-family:MicrosoftYaHei;color:#fff;line-height:31px;white-space: nowrap;}
.recommend-color-chart>li>.label{width:14px;font-size:12px;font-family:MicrosoftYaHei;color:#fff;line-height:22px;text-shadow:0px 0px 7px rgba(0,0,0,0.7);position: absolute;top: 14px;left: 50%;margin-left: -7px;opacity: 1;transition: opacity 0.2s ease-in-out;}
.recommend-color-chart>li.active>.label{opacity: 0;}
.recommend-color-chart>li.active>.border{opacity: 1;}
.recommend-color-chart>li.active>.v-line{opacity: 1;}
/* 蒙层 */
.mask{background: #000;opacity: 0.5;filter: alpha(opacity=50);position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 100;display: none;}
.gradient-mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 100;
    display: none;
	filter:alpha(opacity=50);
	background: #000;
	background: -webkit-linear-gradient(top, rgba(36, 42, 55, 0.5) 0%,rgba(36, 42, 55,1) 100%);
	background: -moz-linear-gradient(bottom, rgba(36, 42, 55, 0.5) 0%,rgba(36, 42, 55,1) 100%);
	background: -o-linear-gradient(bottom, rgba(36, 42, 55, 0.5) 0%,rgba(36, 42, 55,1) 100%);
	background: -ms-linear-gradient(bottom, rgba(36, 42, 55, 0.5) 0%,rgba(36, 42, 55,1) 100%);
    background: linear-gradient( to bottom, rgba(36, 42, 55, 0.5) 0%,rgba(36, 42, 55,1) 100%);
}
/* 引导 */
.guide-btn-box{position: relative;}
.guide{position: fixed;left: 100%;top: 470px;font-size: 12px;color: #979AA4;text-align: center;cursor: pointer;}
.guide:hover{color: #fff;}
.guide>i{display: block;width: 40px;height: 52px;background: url(./img/book.png) no-repeat center;background-size: cover;margin: 0 auto 10px;}
.guide>span{white-space: nowrap;}
.guide-content{width:744px;height:495px;background:#fff;color: #333;border-radius:10px;overflow: hidden;position: fixed;top: 50%;left: 50%;margin-left: -372px;margin-top: -247.5px;z-index: 100;display: none;}
.guide-content>.load-bar{height:4px;background:#d5d4d4;}
.guide-content>.load-bar>div{width: 20%;height:4px;background:#ffc359;transition: width 0.2s ease-in-out;}
.guide-content>.pager{position: absolute;left: 20px;top: 18px;height: 40px;line-height: 40px;}
.guide-content>.pager>span{display: inline-block;width: 50px;height: 32px;line-height: 32px;text-align: center;font-size: 12px;background:#ffc359;border-radius:28px;position: relative;top: -14px;}
.guide-content>.pager>i{display: inline-block;width: 40px;height: 40px;border-radius: 50%;cursor: pointer;transition: transform 0.2s ease-in-out;}
.guide-content>.pager>i:hover{transform: scale(1.2);}
.guide-content>.pager>i.l{background: url(./img/arrow_l_r_def.png) no-repeat center;background-size: cover;margin-right: 5px;}
.guide-content>.pager>i.r{background: url(./img/arrow_r_r_def.png) no-repeat center;background-size: cover;margin-left: 5px;}
.guide-content>.close{position: absolute;top: 29px;right: 22px;width: 18px;height: 18px;background: url(./img/close_def.png) no-repeat center;background-size: cover;cursor: pointer;}
.guide-content>.close:hover{background: url(./img/close_hover.png) no-repeat center;background-size: cover;}
.guide-content>.page{width: 398px;height: 409px;margin: 43px auto 24px;}
.guide-content>.page1{background: url(./img/page1.png) no-repeat center;background-size: cover;width: 501px;height: 424px;}
.guide-content>.page2{background: url(./img/page2.png) no-repeat center;background-size: cover;}
.guide-content>.page3{background: url(./img/page3.png) no-repeat center;background-size: cover;width: 490px;height: 409px;}
.guide-content>.page4{background: url(./img/page4.png) no-repeat center;background-size: cover;}
.guide-content>.page5{background: url(./img/page5.png) no-repeat center;background-size: cover;}
/* 查看图片 */
.view-img{position: fixed;top: 0;left: 0;bottom: 0;width: 100%;overflow: hidden;z-index: 100;display: none;}
.view-img>.content-mask{/* width:548px; */height:100%;position: absolute;left: 50%;top: 0;margin-left: -274px;z-index: 100;}
.view-img>.content-mask>.col{position: absolute;top: 60px;right: -596px;}
.view-img>.content-mask>.col>.close{width: 48px;height: 48px;background: url(./img/close_def_viewimg.png) no-repeat center;background-size: cover;cursor: pointer;}
.view-img>.content-mask>.col>.close:hover{background: url(./img/close_hover_viewimg.png) no-repeat center;background-size: cover;}
.view-img>.content-mask>.col>.download{display: inline-block;width: 48px;height: 108px;margin-top: 16px;padding: 16px 0 12px;box-sizing: border-box;text-align: center;background: #DFAE4C;border-radius:0px 5px 5px 0px;overflow: hidden;cursor: pointer;}
.view-img>.content-mask>.col>.download>i{display: inline-block;width: 26px;height: 25px;background: url(./img/download_viewimg.png) no-repeat center;background-size: cover;margin-bottom: 15px;}
.view-img>.content-mask>.col>.download>span{display: inline-block;width: 30px;font-size:14px;font-family:MicrosoftYaHei;color:#fff;line-height:20px;}
.view-img>.content-mask>.col>.download:hover{background: #FFBF51;}
.view-img>.content-mask>.pager{position: absolute;top: 50%;}
.view-img>.content-mask>.pager>i{display: inline-block;width: 21px;height: 40px;position: absolute;cursor: pointer;}
.view-img>.content-mask>.pager>i.l{left: -105px;background: url(./img/arrow_l_def_viewimg.png) no-repeat center;background-size: cover;}
.view-img>.content-mask>.pager>i.l:hover{background: url(./img/arrow_l_hover_viewimg.png) no-repeat center;background-size: cover;}
.view-img>.content-mask>.pager>i.r{right: -653px;background: url(./img/arrow_r_def_vierimg.png) no-repeat center;background-size: cover;}
.view-img>.content-mask>.pager>i.r:hover{background: url(./img/arrow_r_hover_viewimg.png) no-repeat center;background-size: cover;}
.view-img>.img-content{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 100;text-align: center;}
.view-img>.img-content>div{width: 100%;height: 100%;background: transparent;border: none;position: absolute;left: 0;}
.view-img>.img-content>div>img{margin-top: 60px;}
/* 图片控制器 */
.pic-control-box{position: absolute;right: -630px;bottom: 60px; height: 225px;width: 40px;}
.pic-control{border-radius: 4px; position: relative; color: #333;font-size: 14px; text-align: center; height: 205px;padding-top: 20px; width: 40px;background: #eee;}
.pic-control>.control-l{border-radius: 3px; width: 6px;height: 90px;background: #a6a6a6;position: relative;margin:0 auto 20px;}
.pic-control>.control-l>i{cursor: pointer; position: absolute;width: 19px;height: 19px;left: -5px;top:50px; background: url(./img/report-icons.png) no-repeat -117px -176px;}
.pic-control>p{cursor: pointer; width: 30px;margin: 0 auto;line-height: 20px;padding: 12px 0;border-top: 1px solid #ccc;}
.pic-control>p:hover{color: #d8b056;}
.pic-control>.on-reset,.pic-control>.on-reset:hover{color: #ccc;cursor: no-drop;}
.bzoom{cursor: url(//img.t.sinajs.cn/t5/style/images/common/big.cur), auto !important;}
.szoom{cursor: url(//img.t.sinajs.cn/t5/style/images/common/small.cur), auto !important;}
.dragIcon{cursor: move;}
/* 游客 */
.tourist{width: 450px;position: absolute;top: 432px;left: 50%;z-index: 100;margin-left: -222px;color: #fff;text-align: center;display: none;}
.tourist>.title{font-size: 30px;margin-bottom: 30px;}
.tourist>p{font-size: 14px;width: 371px;margin: 0 auto 50px;line-height: 20px;}
.tourist>.btns>a{display: inline-block;width: 197px;height: 64px;line-height: 64px;text-align: center;color: #fff;font-size: 20px;border-radius:32px;}
.tourist>.btns>a.login{background:#414b62;}
.tourist>.btns>a.login:hover{background:#4E5A75;}
.tourist>.btns>a.register{border:1px solid #fff;margin-left: 50px;box-sizing: border-box;}
.tourist>.btns>a.register:hover{background:#fff;color: #333;}
/* 加载 */
.loading .section-chart-interpreta>p{min-height: 62px;background: url(./img/loading_info.png) no-repeat;}
.loading .recommend-color-chart{min-height: 303px;background: url(./img/loading_recommend.png) no-repeat;background-size: cover;}
.loading .recommend-item{min-height: 280px;background: url(./img/loading.gif) no-repeat center;background-size: 40px;}
.loading .recommend-content>.pager>i{display: none;}
.loading .recommend-content>.more{display: none;}
/* 色彩走势二级 */
.color-trend{position: fixed;top: 0;left: 0;bottom: 0;right: -18px;background: #292F3E;overflow-x: hidden;display: none;}
.color-trend .left-content{width: 1142px;}
.color-trend .section-header{height: 73px;line-height: 73px;padding: 0 0 0 60px;border-bottom: 1px solid #303649;background: #292F3E;}
.color-trend .section-header>.title{font-size:30px;font-family:PingFangSC-Medium,PingFang SC;font-weight:500;color:#fff;margin-right: 32px;}
.color-trend .crumbs{margin-top: 34px;margin-left: 60px;}
.color-trend .section-chart-detail .crumbs{height: 42px;}
.color-trend .section-chart-detail .crumbs>.light-tips{position: relative;top: -4px;}
.color-trend .section-chart{margin-bottom: 16px;}
.color-trend .section-chart-interpreta{margin: 0 0 0 60px;}
.color-trend .section-chart-interpreta>p{margin-bottom: 32px;font-size: 16px;line-height: 28px;}
.color-trend .h-line{margin-bottom: 0;margin-left: 60px;margin-right: 0;}
.color-trend .right-content{width: 640px;position: fixed;top: 0;right: -338px;height: 100%;min-height: 100%;background:rgba(50,57,75,0.95);transition: right 0.2s ease-in-out;}
.color-trend .expand{position: absolute;left: -40px;top: 50%;width: 40px;height: 80px;margin-top: -40px;cursor: pointer;border-radius: 5px 0 0 5px;background: url(./img/color_trend_shift.png) no-repeat center;background-size: cover;}
.color-trend .close{position: absolute;top: 0;left: 262px;right: auto;width: 40px;height: 40px;cursor: pointer;background: url(./img/color_trend_close_def.png) no-repeat center;background-size: cover;transition: all 0.2s ease-in-out;}
.color-trend .close:hover{background: url(./img/color_trend_close_hover.png) no-repeat center;background-size: cover;}
.color-trend .right-content.active{right: -18px !important;}
.color-trend .right-content.active .expand{background: url(./img/color_trend_push.png) no-repeat center;background-size: cover;}
.color-trend .right-content.active .close{left: 582px;}
.color-trend .list-content{height: 100%;padding-top: 64px;box-sizing: border-box;overflow-x: hidden;position: relative;}
.color-trend .style-list{width: 623px;position: relative;margin-bottom: 33px;}
.color-trend .style-list>.title{font-size:24px;font-family:PingFangSC-Semibold,PingFang SC;font-weight:600;color:#fff;line-height:32px;margin: 0 0 22px 48px;}
.color-trend .style-list>.content{position: relative;}
.color-trend .style-list>.content>ul{margin: 0 39px;height: 160px;overflow: hidden;}
.color-trend .style-list>.content>ul>li{width:120px;height:159px;background:#d8d8d8;border-radius:5px;overflow: hidden;float: left;margin: 0 8px 0;}
.color-trend .style-list.rows>.content>ul{height: 340px;}
.color-trend .style-list.rows>.content>ul>li{margin-bottom: 22px;}
.color-trend .pager>i{display: inline-block;width: 16px;height: 16px;position: absolute;top: 50%;cursor: pointer;margin-top: -8px;}
.color-trend .pager>i.l{background: url(./img/arrow_l_def_pager.png) no-repeat center;background-size: cover;left: 18px;}
.color-trend .pager>i.l:hover{background: url(./img/arrow_l_hover_pager.png) no-repeat center;background-size: cover;}
.color-trend .pager>i.l.disabled{background: url(./img/arrow_l_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}
.color-trend .pager>i.r{background: url(./img/arrow_r_def_pager.png) no-repeat center;background-size: cover;right: 18px;}
.color-trend .pager>i.r:hover{background: url(./img/arrow_r_hover_pager.png) no-repeat center;background-size: cover;}
.color-trend .pager>i.r.disabled{background: url(./img/arrow_r_dis_pager.png) no-repeat center;background-size: cover;cursor: no-drop;}

@media screen and (max-width: 1500px) {
    .w1500{width: 1200px;}
    html,body{min-width: 1445px;}
    .section-header{padding: 0 30px;}
    .section-header>.info{font-size: 14px;line-height: 22px;margin-top: 29px;margin-bottom: 29px;}
    .crumbs{margin-left: 30px;}
    .crumbs>.light-tips>.light-tips-content{left: -16px;}
    .crumbs>.light-tips>.light-tips-content>.arrow{left: 18px;}
    .section-chart-content .total{left: 48px;}
    .section-chart-interpreta{margin: 0 30px;}
    .section-chart-interpreta>p{font-size: 14px;line-height: 22px;margin-bottom: 30px;}
    .section-chart-recommend .h-line{margin-bottom: 30px;}
    .recommend-header{margin-left: 30px;margin-right: 30px;}
    .recommend-item{padding: 0 35px;height: 330px;overflow: hidden;}
    .recommend-item>li{margin-left: 25px;margin-right: 25px;}
    .recommend-content>.pager>i.l{left: 30px;}
    .recommend-content>.pager>i.r{right: 30px;}
    .recommend-item-all{margin-top: 40px;}
    .recommend-color-chart{margin-bottom: 10px;margin-left: 30px;margin-right: 30px;}
    .recommend-item-all{margin-left: 20px;margin-right: 20px;}
    .recommend-item-all>.recommend-item{padding: 0;height: 960px;}
    .recommend-item-all>.recommend-item>li{margin: 0 11px 40px;}
    .color-trend .close{left: -40px;}
    .color-trend .right-content{width: 562px;right: -562px;}
    .color-trend .right-content.active .close{left: 504px;}
    .color-trend .list-content{padding-top: 48px;overflow: initial;}
    .color-trend .style-list{width: 544px;}
    .color-trend .style-list>.title{font-size: 20px;line-height:28px;}
    .color-trend .style-list>.content>ul{height: 132px;}
    .color-trend .style-list.rows>.content>ul{height: 286px;}
    .color-trend .style-list>.content>ul>li{width: 100px;height: 132px;}
}
