* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-size: 14px;
  user-select: none;
}
input {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hidden {
  visibility: hidden;
}
.flex {
  display: flex;
}
.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0;
  /* width: 4px; */
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: rgba(88,88,88,.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.5);
}

.banner {
  height: 80px;
  line-height: 80px;
  font-size: 26px;
  color: #fff;
  background-color: #333;
  text-align: center;
}
.form-section {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.form-section label {
  display: flex;
  align-items: center;
}
.form-section > label {
  margin-bottom: 10px;
}
.form-section span {
  margin-right: 5px;
  white-space: nowrap;
}
.form-section select,
.form-section input {
  font-size: 12px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
.form-section select,
.form-section input:not([type="checkbox"]) {
  height: 20px;
  line-height: 20px;
  flex: 1;
  outline: none;
}
.form-section select:hover,
.form-section input:hover {
  border-color: #999;
}
.form-section select:focus,
.form-section input:focus {
  border-color: #0078D7;
}
.form-section input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  cursor: pointer;
}
.btn-section {
  margin: 10px;
}
.btn-section button {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1;
  border: 1px solid #ccc;
  background-color: #E1E1E1;
  border-radius: initial;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.btn-section button:hover {
  border-color: #0078D7;
  background-color: #E5F1FB;
}
.btn-section button:active {
  border-width: 2px;
  border-color: #0078D7;
}
.btn-section .flex button {
  min-width: calc(50% - 2.5px);
  height: 60px;
}
.btn-section .flex button + button {
  margin-left: 5px;
}
.browser-section {
  display: none;
  position: relative;
  margin: 15px 10px 10px 10px;
  padding: 15px 10px 10px 10px;
  border: 1px solid #ccc;
}
.browser-section .title {
  position: absolute;
  left: 10px;
  top: -10px;
  line-height: 20px;
  padding: 0 2px;
  background-color: #fff;
}
.browser-section ul {
  padding: 1px;
  border: 1px solid #999;
  font-size: 12px;
}
.browser-section ul li {
  padding: 0 2px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.browser-section ul li:hover {
  background-color: rgb(0 120 215 / 10%);
}
.browser-section ul li.on {
  color: #fff;
  background-color: #0078D7;
}
