{extends file="layout.html"}

{block name="title"}上海订货会SHOWROOM-POP服装趋势网{/block}
{block name=keywords}上海服装服饰展,时堂,ONTIMESHOW,DFO SHOWROOM{/block}
{block name=description}上海订货会SHOWROOM最有看头的国内设计师新势力——上海站，涵盖100+新兴设计师品牌及3000+款式资料POP独家资源。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20171101/css/index.css?{STATIC_CHANGE_TIME}">
{/block}

{block name="main"}
<div class="season-section">
	<div class="season-contain js-season-contain">
		<div class="season-top js-season-top">
			<div class="bg-set js-bg-set"></div>
			
			<!--内容区-->
			<div class="top-cont">
				<div class="cont-msg js-cont-msg">
					<a class="mode1" title="上海Mode Shanghai" href="/styles/retail/ds_3-reg_188-exh_3490/#anchor" target="_blank" data-src="t-bg5.jpg">
						<img src="{STATIC_URL2}/global/topic/20171101/images/mode1.png"/>
						<div>
							<h3>上海</h3>
							<p>MODE SHANGHAI</p>
							<span>“从创意到生意”<br />的订货会资料</span>
						</div>
					</a>
					<a class="mode2" href="/styles/retail/ds_3-reg_188-exh_93640/#anchor" title="上海ONTIMESHOW" target="_blank" data-src="t-bg4.jpg">
						<img src="{STATIC_URL2}/global/topic/20171101/images/mode2.png"/>
						<div>
							<h3>上海</h3>
							<p>ONTIMESHOW</p>
							<span>“全球品牌大集合”<br />的订货会资料</span>
						</div>
					</a>
					<a class="mode3" href="/styles/retail/ds_3-reg_188-exh_93684/#anchor" title="上海DFO SHOWROOM" target="_blank" data-src="t-bg3.jpg">
						<img src="{STATIC_URL2}/global/topic/20171101/images/mode3.png"/>
						<div>
							<h3>上海</h3>
							<p>DFO SHOWROOM</p>
							<span>“亚洲最大时装季”<br />的订货会资料</span>
						</div>
					</a>
					<a class="mode4" href="/styles/retail/ds_3-reg_188-exh_93652/#anchor" title="时堂 Showroom Shanghai" target="_blank" data-src="t-bg2.jpg">
						<img src="{STATIC_URL2}/global/topic/20171101/images/mode4.png" />
						<div>
							<h3>时堂</h3>
							<p>SHOWROOM <br />SHANGHAI</p>
							<span>“本土最高端”<br />的订货会资料</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="review-contain">
	  		<div class="review-msg">
	  			<img src="{STATIC_URL2}/global/topic/20171101/images/prev-title.png" alt="title" />
	  			<div class="review-cont">
	  				<div class="left-btn js-left-btn"></div>
  					<div class="right-btn js-right-btn"></div>
	  				<div class="review-list">
	  					<ul class="js-review-list clear">
	  						<li>
			  					<a href="/topic/20170930/" target="_blank" title="一键获取PV展矢量花型">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re8.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover8"></div>
			  						</div>
			  						<p>一键获取PV展矢量花型</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170915/" target="_blank" title="日本潮流实战情报">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re7.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover7"></div>
			  						</div>
			  						<p>日本潮流实战情报</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170830/" target="_blank" title="联名玩转潮流">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re6.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover6"></div>
			  						</div>
			  						<p>联名玩转潮流</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170802/" target="_blank" title="独立设计师季">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re5.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover5"></div>
			  						</div>
			  						<p>独立设计师季</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170703/" target="_blank" title="POP独家带来，最权威的色彩趋势—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re-4.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover0"></div>
			  						</div>
			  						<p>POP独家带来，最权威的色彩趋势--<br />新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170602/" target="_blank" title="图案专栏重磅来袭，POP带你玩转趋势">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re0.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover1"><img src="{STATIC_URL2}/global/topic/20171101/images/hover-1.png" alt="新生" /></div>
			  						</div>
			  						<p>图案专栏重磅来袭，POP带你玩转趋势</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="18/19秋冬POP大主题趋势预测发布—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re1.jpg" alt="新生" /></div>
			  							<div class="review-hover review-hover2"></div>
			  						</div>
			  						<p>18/19秋冬POP大主题趋势预测发布--新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="时尚也要玩大数据流行色一秒掌握！">
			  						<div>
			  							<div class="review-hover review-hover3"></div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re2.jpg" alt="大数据" /></div>
			  						</div>
			  						<p>时尚也要玩大数据，流行色一秒掌握！</p>
			  					</a>
			  				</li>
			  				
			  				<li>
			  					<a href="/topic/20170930/" target="_blank" title="一键获取PV展矢量花型">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re8.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover8"></div>
			  						</div>
			  						<p>一键获取PV展矢量花型</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170915/" target="_blank" title="日本潮流实战情报">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re7.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover7"></div>
			  						</div>
			  						<p>日本潮流实战情报</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170830/" target="_blank" title="联名玩转潮流">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re6.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover6"></div>
			  						</div>
			  						<p>联名玩转潮流</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170802/" target="_blank" title="独立设计师季">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re5.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover5"></div>
			  						</div>
			  						<p>独立设计师季</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170703/" target="_blank" title="POP独家带来，最权威的色彩趋势—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re-4.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover0"></div>
			  						</div>
			  						<p>POP独家带来，最权威的色彩趋势--<br />新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170602/" target="_blank" title="图案专栏重磅来袭，POP带你玩转趋势">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re0.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover1"><img src="{STATIC_URL2}/global/topic/20171101/images/hover-1.png" alt="新生" /></div>
			  						</div>
			  						<p>图案专栏重磅来袭，POP带你玩转趋势</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="18/19秋冬POP大主题趋势预测发布—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re1.jpg" alt="新生" /></div>
			  							<div class="review-hover review-hover2"></div>
			  						</div>
			  						<p>18/19秋冬POP大主题趋势预测发布--新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="时尚也要玩大数据流行色一秒掌握！">
			  						<div>
			  							<div class="review-hover review-hover3"></div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171101/images/re2.jpg" alt="大数据" /></div>
			  						</div>
			  						<p>时尚也要玩大数据，流行色一秒掌握！</p>
			  					</a>
			  				</li>
			  			</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	</div>

	{include file="topic/topic_layer.html"}
</div>
{/block}


{block name="self"}
{literal}
<script>
	$(function(){
		/*top内容效果*/
		var rotat_timer=null,rotat_val=0,is_hover=false,back_timer=null;
		rotat_timer = setInterval(function(){
			rotat_val++;
			if(rotat_val>=28800){
				rotat_val=0;
			}
			$('.js-cont-msg').css({
				'transform':'rotate('+rotat_val/80+'deg)',
				'-webkit-transform':'rotate('+rotat_val/80+'deg)'
			});
			
			$('.js-cont-msg a').css({
				'transform':'rotate('+rotat_val/-80+'deg)',
				'-webkit-transform':'rotate('+rotat_val/-80+'deg)'
			});
			
		},4);
		//js-season-top
		$('.js-cont-msg a').hover(function(){
			var d_w = $('.js-season-contain').width();
			is_hover=true;
			clearInterval(rotat_timer);		//hover停止转动
			clearTimeout(back_timer);		//清楚out变化
			
			var _src=$(this).data('src'),img_link='';
			img_link='url(../../../global/topic/20171101/images/'+_src+')';
			$('.js-bg-set').stop().hide().css({
				"width": "400px",
				'height': '400px',
				'background-image': img_link,
				'top': '50%',
				'margin-left':'-200px',
				'margin-top':'-200px',
				'left': '50%',
				'border-radius': '50%',
				'opacity': '0.7'
			});
			
			$('.js-bg-set').stop().show().animate({
				"width": d_w+"px",
				'height': d_w+"px",
				'top': '0',
				'margin-left':'0px',
				'margin-top':(900-d_w)/2+'px',
				'left': '0',
				'opacity': '1'
			},800,"linear",function(){
				$('.js-season-top').css({
					'background-image': img_link
				});
				$('.js-bg-set').hide();
				is_hover=false;
			});
			
		},function(){
			rotat_timer = setInterval(function(){
				rotat_val++;
				if(rotat_val>=28800){
					rotat_val=0;
				}
				$('.js-cont-msg').css({
					'transform':'rotate('+rotat_val/80+'deg)',
					'-webkit-transform':'rotate('+rotat_val/80+'deg)'
				});
				
				$('.js-cont-msg a').css({
					'transform':'rotate('+rotat_val/-80+'deg)',
					'-webkit-transform':'rotate('+rotat_val/-80+'deg)'
				});
				
			},4);
			hvBack();
		});
		
		function hvBack(){
			clearTimeout(back_timer);
			back_timer=setTimeout(function(){
				var d_w = $('.js-season-contain').width();
				var img_link1='url(../../../global/topic/20171101/images/t-bg1.jpg)';
				
				$('.js-bg-set').stop().show().css({
					"width": d_w+"px",
					'height': d_w+"px",
					'top': '0',
					'left': '0',
					'margin-left':'0px',
					'margin-top':(900-d_w)/2+'px',
					'border-radius': '50%',
					'opacity': '1'
				});
				
				$('.js-season-top').css({
					'background-image': img_link1
				});
				
				$('.js-bg-set').stop().show().animate({
					"width": "400px",
					'height': '400px',
					'top': '50%',
					'left': '50%',
					'margin-left':'-200px',
					'margin-top':'-200px',
					'opacity': '0.7'
				},600,"linear", function(){
					$('.js-bg-set').hide();
				});
			},420);
		}
		
		$('.js-page-down').on('click',function(){
			$('body,html').stop(true,true).animate({
				scrollTop:900
			},400)
		});
		
    	//往期回顾hover效果
    	$('.js-review-list>li').hover(function(){
    		$(this).siblings('li').find('.img-c>img').stop().animate({'opacity':0},400,function(){
    			$(this).hide();
    		});
    		$(this).siblings('li').find('.review-hover').stop().show().animate({'opacity':1},400);
    	},function(){
    		$(this).siblings('li').find('.img-c>img').stop().show().animate({'opacity':1},100);
    		$(this).siblings('li').find('.review-hover').stop().animate({'opacity':0},400,function(){
    			$(this).hide();
    		});
    	});
    	
    	var _index=0,is_lun=false,review_ul=$('.js-review-list'),_len=$('.js-review-list li').length/2,list_w=$('.js-review-list li').eq(0).outerWidth(true);		//轮播当前i
    	$(window).on('resize',function(){
    		is_lun=true;		//正在轮播
    		list_w=$('.js-review-list li').eq(0).outerWidth(true);
    		review_ul.stop().css({
    			"margin-left":_index*-1*list_w+"px"
    		});
    		
    		setTimeout(function(){
	    		list_w=$('.js-review-list li').eq(0).outerWidth(true);
	    		review_ul.stop().css({
	    			"margin-left":_index*-1*list_w+"px"
	    		})
	    		is_lun=false;		//正在轮播
    		},300)
    	})
    	
    	$('.js-left-btn').on('click',function(){
    		if(is_lun==true){
    			return;
    		}
    		is_lun=true;		//正在轮播
    		_index--;
    		if(_index<0){
    			_index=_len-1;
    			review_ul.stop().css({
	    			"margin-left":_len*-1*list_w+"px"
	    		})
    		}
    		
    		review_ul.stop().animate({
    			"margin-left":_index*-1*list_w+"px"
    		},300,function(){
    			is_lun=false;
    		});
    	});
    	
    	$('.js-right-btn').on('click',function(){
    		if(is_lun==true){
    			return;
    		}
    		is_lun=true;
    		_index++;
    		if(_index>_len){
    			_index=1;
    			review_ul.stop().css({
	    			"margin-left":"0px"
	    		})
    		}
    		
    		review_ul.stop().animate({
    			"margin-left":_index*-1*list_w+"px"
    		},300,function(){
    			is_lun=false;
    		});
    	});

    	$(".pop_sole").addClass("selected");
    })
</script>
{/literal}
{/block}