{extends file="layout.html"}
{block name="title"}海外商场实拍_全球展会跟踪_国际零售批发市场商拍-POP服装趋势网{/block}
{block name=keywords}POP趋势,国际市场动向,海外商场实拍,全球展会跟踪,国际零售市场商拍,海外发市场实拍{/block}
{block name=description}POP服装趋势网国际市场跟踪专题，为服装企业和设计师提供国际零售、批发市场实拍，包括奢侈品牌、新锐设计师品牌、市场品牌、全维度跟踪，商拍全触达。另外还有全球各大展会及时跟踪，共有30+国际展会，覆盖5大品类、9个专业领域，足不出户看遍全球展会。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/common/css/h5-common.css?{STATIC_CHANGE_TIME}" />
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20200215/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
{include file="topic/common/h5-header.html"}
<!-- pc -->
<div class="content-main">
    <div class="banner"></div>
    <div style="background: #f9f9f9;">
        <div class="topic-main clearfix">
            <div class="topic-h1">国内市场停摆，国际市场不间断</div>
            <span>作为国内最主流的服饰趋势机构，POP多年来，联合10余家国际趋势研究机构、200多位海外时尚买手，实时从世界各地获取最新市场和展会信息。通过全球覆盖、全年跟踪，我们让行业从业者足不出户，就在网络上就能及时掌握全球时尚动向。</span>
            <span>新冠病毒疫情的当下，封闭、隔离、出行限制，很多习惯线下看展找款的时尚从业者，再也无法按习惯的方式去搜罗款式，时尚流行受到一定程度的阻断。但我们仍需要时刻关注市场变化，尤其是国际市场。</span>
            <span>POP商拍和展会资讯覆盖了零售市场、各大批发市场、30+国际展会，助力您疫情当前，时尚保鲜！</span>
            <img class="item1" src="{STATIC_URL2}/global/topic/20200215/images/item1.png?{STATIC_CHANGE_TIME}"/>
            <img class="item2" src="{STATIC_URL2}/global/topic/20200215/images/item2.png?{STATIC_CHANGE_TIME}"/>
        </div>
    </div>
    <div class="topic-introduce">
        <img src="{STATIC_URL2}/global/topic/20200215/images/item3.png?{STATIC_CHANGE_TIME}"/>
    </div>
    <div class="topic-map">
        <span>海外市场和展会实拍地图导览</span>
        <div class="map"></div>
    </div>
    <div class="topic-list clearfix">
        <div class="list-left">
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item1.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item2.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item3.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item4.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item5.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/left-item6.png?{STATIC_CHANGE_TIME}"/>
        </div>
        <div class="list-center">
            <img src="{STATIC_URL2}/global/topic/20200215/images/center-item1.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/center-item2.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/center-item3.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/center-item4.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/center-item5.png?{STATIC_CHANGE_TIME}"/>
        </div>
        <div class="list-right" style="margin-right: 0;">
            <img src="{STATIC_URL2}/global/topic/20200215/images/right-item1.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/right-item2.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/right-item3.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/right-item4.png?{STATIC_CHANGE_TIME}"/>
            <img src="{STATIC_URL2}/global/topic/20200215/images/right-item5.png?{STATIC_CHANGE_TIME}"/>
        </div>
    </div>
    <div class="topic-market">
        <div class="market clearfix">
            <div class="market-item">
                <img src="{STATIC_URL2}/global/topic/20200215/images/market1.png?{STATIC_CHANGE_TIME}"/>
                <span><i style="left: -60px;"></i>零售市场<i style="right: -60px;"></i></span>
                <a href="/styles/retail/" target="_blank" class="market-btn">立即查看</a>
            </div>
            <div class="market-item">
                <img src="{STATIC_URL2}/global/topic/20200215/images/market2.png?{STATIC_CHANGE_TIME}"/>
                <span><i style="left: -60px;"></i>批发市场<i style="right: -60px;"></i></span>
                <a href="/styles/retail/ds_1/" target="_blank" class="market-btn">立即查看</a>
            </div>
            <div class="market-item" style="margin-right: 0;">
                <img src="{STATIC_URL2}/global/topic/20200215/images/market3.png?{STATIC_CHANGE_TIME}"/>
                <span><i style="left: -60px;"></i>展会跟踪<i style="right: -60px;"></i></span>
                <a href="/styles/retail/ds_3/" target="_blank" class="market-btn">立即查看</a>
            </div>
        </div>
    </div>
    <div class="topic-bottom">
        <div class="bottom-main">
            <span>想了解更多我们商拍和展会细节？</span>
            <div class="js-contact-qq-btn" data-type="1">立即在线咨询</div>
            <label><i></i>电话咨询 4008-210-500</label>
        </div>
    </div>
</div>
<!-- H5 -->
<div class="H5-content-main">
    <div class="banner"></div>
    <div class="topic-main clearfix">
        <div class="topic-H1">国内市场停摆，国际市场不间断</div>
        <span>作为国内最主流的服饰趋势机构，POP多年来，联合10余家国际趋势研究机构、200多位海外时尚买手，实时从世界各地获取最新市场和展会信息。通过全球覆盖、全年跟踪，我们让行业从业者足不出户，就在网络上就能及时掌握全球时尚动向。</span>
        <span>新冠病毒疫情的当下，封闭、隔离、出行限制，很多习惯线下看展找款的时尚从业者，再也无法按习惯的方式去搜罗款式，时尚流行受到一定程度的阻断。但我们仍需要时刻关注市场变化，尤其是国际市场。</span>
        <span>POP商拍和展会资讯覆盖了零售市场、各大批发市场、30+国际展会，助力您疫情当前，时尚保鲜！</span>
        <img class="img1" src="{STATIC_URL2}/global/topic/20200215/images/H5-item-one.png?{STATIC_CHANGE_TIME}"/>
        <img class="img2" src="{STATIC_URL2}/global/topic/20200215/images/H5-item-two.png?{STATIC_CHANGE_TIME}"/>
    </div>
    <div class="topic-introduce">
        <div class="introduce-item">
            <div class="title">
                <span class="col" style="position: relative;z-index: 1;">商拍</span>
                <span style="margin-left: -.3rem;position: relative;z-index: 1;">全触达 零售市场/批发市场</span>
                <span class="square"></span>
            </div>
            <span>覆盖首尔、东京、纽约、巴黎、米兰、伦敦等20多个国际时尚城市的重点百货商场、特色商圈、买手集合店，实时传送最新上市款式图，分析当地市场流行动向。</span>
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-introduce-img1.png?{STATIC_CHANGE_TIME}" />
        </div>
        <div class="introduce-item">
            <div class="title">
                <span class="col" style="position: relative;z-index: 1;color: #4EC587;">全球展会</span>
                <span style="margin-left: -.3rem;position: relative;z-index: 1;">实时跟踪 足不出户看展</span>
                <span class="square two"></span>
            </div>
            <span>从原材料展到成品贸易展，从法国第一视觉面料展，到慕尼黑ISPO国际体育用品展，POP第一时间从现场带来高清照片和分析报告，全维度看30多个时尚展会。</span>
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-introduce-img2.png?{STATIC_CHANGE_TIME}" />
        </div>
        <div class="introduce-bot"></div>
    </div>
    <div class="topic-map">
        <div class="title">海外市场和展会实拍地图导览</div>
        <img src="{STATIC_URL2}/global/topic/20200215/images/H5-map.png?{STATIC_CHANGE_TIME}" />
    </div>
    <div class="topic-list clearfix">
        <div class="left">
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item1.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item3.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item5.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item7.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item9.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item11.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item13.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item15.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item16.png?{STATIC_CHANGE_TIME}" />
        </div>
        <div>
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item2.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item4.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item6.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item8.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item10.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item12.png?{STATIC_CHANGE_TIME}" />
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-item14.png?{STATIC_CHANGE_TIME}" />
        </div>
    </div>
    <div class="topic-market">
        <div class="market-item">
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-market1.png?{STATIC_CHANGE_TIME}"/>
            <span><i></i>零售市场<i></i></span>
            <a href="/styles/retail/" class="market-btn">立即查看</a>
        </div>
        <div class="market-item">
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-market2.png?{STATIC_CHANGE_TIME}"/>
            <span><i></i>批发市场<i></i></span>
            <a href="/styles/retail/ds_1/" class="market-btn">立即查看</a>
        </div>
        <div class="market-item">
            <img src="{STATIC_URL2}/global/topic/20200215/images/H5-market3.png?{STATIC_CHANGE_TIME}"/>
            <span><i></i>展会跟踪<i></i></span>
            <a href="/styles/retail/ds_3/" class="market-btn">立即查看</a>
        </div>
    </div>
    <div class="topic-bottom">
        <div class="bottom-main">
            <span>想了解更多我们商拍和展会细节？</span>
            <div class="js-contact-qq-btn" data-type="1">立即在线咨询</div>
            <a href="tel:4008-210-500"><i></i>电话咨询 4008-210-500</a>
        </div>
    </div>
</div>
{include file="topic/common/h5-footer.html"}
{/block}


{block name="self"}
<script type="text/javascript">
	$('.js-new-trends-fix').hide();
</script>
{/block}