{extends file="layout.html"}

{block name="title"}三地联动-POP服装趋势网{/block}
{block name=keywords}上海时装周/订货会,首尔时装周/订货会,东京时装周/订货会{/block}
{block name=description}四大时装周刚刚落幕，还意犹未尽？别急……亚洲时尚盛会还有没上的饕餮大餐，POP为您 全程跟踪。亚洲三大时尚圣地-上海/首尔/东京，“360度无死角”掌握时尚聚集地新动向，寻代更适合您的趋势！{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20180409/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
<div class="season-section">
	<div class="season-contain js-season-contain">
		<ul class="season-top js-season-top">
			<li class="season1 js-season1">
				<div class="item-min">
					<div class="season-msg fl">
						<img class="dex-msg1" src="{STATIC_URL2}/global/topic/20180409/images/t1.png"></img>
						<p class="dex-msg2">
							<span>四大时装周刚刚落幕,还意犹未尽?别急～<br />亚洲时尚盛会还有没上的饕餮大餐,POP为您全程跟踪</span><img src="{STATIC_URL2}/global/topic/20180409/images/t2.png"/>
						</p>
						<img class="dex-msg3" src="{STATIC_URL2}/global/topic/20180409/images/t3.png"></img>
					</div>
					<div class="season-sec js-season-sec">
						<div class="rea-line js-rea-line rea-rotate"></div>
						<p class="sec1" data-i="0">上海</p>
						<p class="sec2" data-i="1">东京</p>
						<p class="sec3" data-i="2">首尔</p>
					</div>
				</div>
				
				<div class="item-max">
					<div class="season-msg fl">
						<img class="dex-msg1" src="{STATIC_URL2}/global/topic/20180409/images/t1.png"></img>
						<p class="dex-msg2">
							<span>四大时装周刚刚落幕,还意犹未尽?别急～<br />亚洲时尚盛会还有没上的饕餮大餐,POP为您全程跟踪</span><img src="{STATIC_URL2}/global/topic/20180409/images/t2.png"/>
						</p>
						<img class="dex-msg3" src="{STATIC_URL2}/global/topic/20180409/images/t3.png"></img>
					</div>
					<div class="season-sec js-season-sec">
						<div class="rea-line js-rea-line rea-rotate"></div>
						<p class="sec1" data-i="0">上海</p>
						<p class="sec2" data-i="1">东京</p>
						<p class="sec3" data-i="2">首尔</p>
					</div>
				</div>
				
			</li>
			
			<li class="season2 js-season-item">
				<span class="sea-close js-sea-close"></span>
				<div class="item-contain">
					<div class="sea-l fl">
						<div class="sea-l1">
							<p>上海时装周作为中国原创设计发展推广的最优化的交流平台，历年吸引了众多国内优秀的自主品牌.最强中国设计力量，看上海时装周。</p>
							<a href="/runways/reg_346/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic1.jpg" />
						</div>
						<div class="sea-l2">
							<p>与上海时装周同期举行的SHOWROOM订货会，是时尚买手的重要订货地，囊括100+品牌及1000+款式资料。</p>
							<a href="/styles/retail/ds_3-reg_346/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic2.jpg"/>
						</div>
					</div>
					<div class="sea-r"></div>
				</div>
				<div class="item-bg"></div>
			</li>
			
			<li class="season3 js-season-item">
				<span class="sea-close js-sea-close"></span>
				<div class="item-contain">
					<div class="sea-l fl">
						<div class="sea-l1">
							<p>2005年日本政府为增强东京时装周的国际影响力，对日本东京时装周做了大力的支撑，因此东京时装周更加注重日式文化的融入及设计，更坚持原创，地域风格明显。</p>
							<a href="/runways/reg_293/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic3.jpg"/>
						</div>
						<div class="sea-l2">
							<p>2018年4月东京潮流聚集地：表参道、东武百货、日本涩谷、银座、日本银座等一手实拍资料3000+</p>
							<a href="/styles/retail/reg_293/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic4.jpg"/>
						</div>
					</div>
					<div class="sea-r fr"></div>
				</div>
				<div class="item-bg"></div>
			</li>
			
			<li class="season4 js-season-item">
				<span class="sea-close js-sea-close"></span>
				<div class="item-contain">
					<div class="sea-l fl">
						<div class="sea-l1">
							<p class="posi-top">首尔时装周已然成为“四大”后最受人关注的时装周后起之秀，集设计感、实穿性和公道价格的韩国时装，也越来越受到中国和全球时装业内外人士的关注。采用最实穿手法做时装，尽管在时装秀场里没有过多的突破，但确实成功地整合了时装与吸引民众的K-Pop文化</p>
							<a href="/runways/reg_353/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic5.jpg"/>
						</div>
						<div class="sea-l2">
							<p>首尔潮流聚集地：东大门、明洞、新世界、乐天、新沙、现代百货、三成、罗德奥、江南区厅等一手实拍资料3000+</p>
							<a href="/styles/retail/reg_353/#anchor" target="_blank">查看详情<i></i></a>
							<img src="{STATIC_URL2}/global/topic/20180409/images/pic6.jpg"/>
						</div>
					</div>
					<div class="sea-r fr"></div>
				</div>
				<div class="item-bg"></div>
			</li>
			
			
		</ul>
		<div class="review-contain">
	  		<div class="review-msg">
	  			<img src="{STATIC_URL2}/global/topic/20180409/images/prev-title.png" alt="title" />
	  			<div class="review-cont">
	  				<div class="left-btn js-left-btn"></div>
  					<div class="right-btn js-right-btn"></div>
	  				<div class="review-list">
	  					<ul class="js-review-list clear">
			  				<!-- <li>
			  					<a href="/topic/20170516/" target="_blank" title="时尚也要玩大数据流行色一秒掌握！">
			  						<div>
			  							<div class="review-hover review-hover3"></div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20171211/images/re2.jpg" alt="大数据" /></div>
			  						</div>
			  						<p>时尚也要玩大数据，流行色一秒掌握！</p>
			  					</a>
			  				</li> -->
			  			</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	<div class="season-bg1 hide"></div>
	  	<div class="season-bg2 hide"></div>
	</div>
  	
</div>

{include file="topic/topic_layer.html"}
{/block}

{block name="self"}
<script type="text/javascript">
	var page_img_path_str="{STATIC_URL2}";
	var page_js_path_str="{STATIC_URL3}";

</script>
<script type="text/javascript" src="{STATIC_URL3}/global/topic/20180409/js/index.js?{STATIC_CHANGE_TIME}"></script>
{/block}