{extends file="layout.html"}
{block name="title"}智能设计-POP服装趋势网{/block}
{block name=keywords}免费精品素材,智能花型设计,矢量花型设计{/block}
{block name=description}智能设计从POP开始，助力服装设计师提供更便捷高效的研发，为面料供应商提供简洁的设计应用场景。{/block}
{block name="selfcss"}
	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_URL1}/global/topic/20180919/css/index.css?{$smarty.const.STATIC_CHANGE_TIME}">
	<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_URL1}/global/topic/common.css?{$smarty.const.STATIC_CHANGE_TIME}">
{/block}
{block name="main"}
<div class="content {if $user_type == "TOURIST"}login-content{/if}">
	<h1>智能设计</h1>
	<div class="banner-section">
		<div>
			<span class="fl"><</span>
			<p class="fl">助力服装设计师提供更便捷高效的研发<br/>为面料供应商提供简洁的设计应用场景</p>
			<span class="fl">></span>
		</div>
		<ul>
			<li class="clear">
				<label class="fl">><img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/i1.png"></label>
				<p class="fl">免抠精品素材<br/>持续更新 每周1000+</p>
			</li>
			<li class="clear">
				<label class="fl"><img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/i2.png"></label>
				<p class="fl">智能花型设计免费下载<br/>分层高清大图300DPI</p>
			</li>
			<li class="clear">
				<label class="fl"><img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/i3.png"></label>
				<p class="fl">矢量花型设计<br/>限时免费下载PSD源文件</p>
			</li>
		</ul>
	</div>
	<div class="content-section1">
		<div class="w1200 clear">
			<p>让设计更简单</p>
			<div class="fl" title="10万+矢量素材和1000+潮流花型为您的原创精品服务">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img1.jpg" alt="10万+矢量素材和1000+潮流花型为您的原创精品服务">
			</div>
			<div class="fr">
				<div class="t-num">
					<span>1</span>
				</div>
				<div class="t-text">
					<p>10万+海量精选矢量素材任您选择</p>
					<p>1000+持续更新最新潮流花型</p>
					<p>为您的原创精品服务</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section2">
		<div class="w1200 clear">			
			<div class="fl">
				<div class="t-num">
					<span>2</span>
				</div>
				<div class="t-text">
					<p>共享构图模版 一秒快速生成</p>
					<p>我的设计花型 收藏常用构图模版</p>
				</div>
			</div>
			<div class="fr" title="我的设计花型，收藏常用构图模版">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img2.png" alt="共享构图模版，一秒快速生成">
			</div>
		</div>
	</div>
	<div class="content-section3">
		<div class="w1200 clear">
			<div class="fl" title="180度水平垂直随意翻转">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img3.jpg" alt="快速生成设计技法，多种特殊滤镜效果供您选择">
			</div>
			<div class="fr">
				<div class="t-num">
					<span>3</span>
				</div>
				<div class="t-text">
					<p>极速生成设计技法</p>
					<p>多种特殊滤镜效果供您选择</p>
					<p>180度水平垂直随意翻转</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section4">
		<div class="w1200 clear">			
			<div class="fl">
				<div class="t-num">
					<span>4</span>
				</div>
				<div class="t-text">
					<p>最时尚底纹任意搭配</p>
					<p>不够过瘾？直接上传自己喜欢的底纹</p>
				</div>
			</div>
			<div class="fr" title="不够过过瘾，直接上传自己喜欢的底纹">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img4.png" alt="最时尚底纹任意搭配">
			</div>
		</div>
	</div>
	<div class="content-section5">
		<div class="w1200 clear">
			<div class="fl" title="没有满意配色，上传自己原创配色更精品哦">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img5.jpg" alt="智能配色，共享花型配色">
			</div>
			<div class="fr">
				<div class="t-num">
					<span>5</span>
				</div>
				<div class="t-text">
					<p>智能配色 共享花型配色</p>
					<p>花型颜色/背景色由您来配</p>
					<p>没有满意配色?</p>
					<p>上传自己原创配色更精品哦</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section6">
		<div class="w1200 clear">			
			<div class="fl">
				<div class="t-num">
					<span>6</span>
				</div>
				<div class="t-text">
					<p>即刻保存我的花型设计</p>
					<p>即时应用成品呈现</p>
					<p>原创设计花型 即时免费下载PSD源文件</p>
					<p>更多相似图案 从灵感库帮您找寻</p>
				</div>
			</div>
			<div class="fr" title="原创设计花型，即时免费下载PSD源文件">
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/img6.png" alt="即刻保存我的花型设计，即时应用成品呈现">
			</div>
		</div>
	</div>
	<div class="foot-section">
		<div class="w800 clear">
			<div class="fl l-text-box">
				<p>更多智能体验之旅<br/><span>欢迎联系我们</span></p>
				<a href="/user/register/" target="_blank">立即登录注册，开始体验</a>
			</div>
			<div class="fl r-text-box">
				<p>咨询热线：<br/><strong>4008-210-500</strong></p>
				<img src="{$smarty.const.STATIC_URL1}/global/topic/20180919/images/er-code.jpg">
			</div>
		</div>
	</div>
</div>
{/block}