{extends file="layout.html"}

{block name="title"}一键获取PV展矢量花型-POP服装趋势网{/block}
{block name=keywords}展会分析,展会实拍,PV展验证,独家预售{/block}
{block name=description}PV展已被公认为全球具权威和新面料流行趋势发布的风向标，引领着世界面料的流行趋势。POP趋势专家现场解读面料新工艺、新趋势；同时深入PV最顶级面料创意工坊Maison D’Exceptions，为您带来全球各大手工坊的独门创意面料织造工艺。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20170930/css/index.css?{STATIC_CHANGE_TIME}">
<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" href="{STATIC_URL2}/global/topic/20170930/css/ie-hack9.css?{STATIC_CHANGE_TIME}">
<![endif]-->
{/block}

{block name="main"}
<div class="season-section">
	<div class="season-contain js-season-contain">
		<div class="season-top">
	  		<!--视频-->
	  		<div class="video-box radio_d js-video-box">
				<div class="p_radio" style="opacity: 0;">
					<a href="{STATIC_URL2}/global/topic/20170930/images/video.flv"  id="player" style="display: block;width: 100%;height: 100%;"></a>
				</div>
	  		</div>
	  		<div class="video-bg"></div>
	  		
	  		<!--内容-->
	  		<div class="top-content clear">
	  			<div class="content-r clear">
	  				<div class="msg-r">
	  					<a class="msg-item" href="/references/fabricgallery/exh_3572/#anchor" title="展会实拍" target="_blank">
	  						<div class="item-title">
	  							<h2>展会实拍<p></p></h2>
	  							<p>PV展面料花型高清实拍图</p>
	  						</div>
	  						<div class="item-pic">
	  							<div class="f-box"></div>
	  							<img src="{STATIC_URL2}/global/topic/20170930/images/pic4.jpg"/>
	  							<i></i>
	  						</div>
	  					</a>
	  					<a class="msg-item msg-b" href="javascript:void(0);" onclick="return false;" target="_blank">
	  						<div class="item-title">
	  							<h3>独家预售</h3>
	  							<p>1、独家PV矢量花型 2、19春夏色卡预售</p>
	  						</div>
	  						<div class="item-pic no-scale">
	  							<img src="{STATIC_URL2}/global/topic/20170930/images/pic3.jpg"/>
	  							<div class="item-ph">
	  								<img src="{STATIC_URL2}/global/topic/20170930/images/ph1.png" alt="icon" />
	  								<span>获取热线</span>
	  								<p>4008-210-500</p>
	  							</div>
	  						</div>
	  					</a>
	  				</div>
	  				<div class="msg-l">
	  					<a class="msg-item" href="/analysis/fairs/exh_3572/#anchor" title="展会分析" target="_blank">
	  						<div class="item-title">
	  							<h2>展会分析<p></p></h2>
	  							<p>面料最新趋势方向快速获取</p>
	  						</div>
	  						<div class="item-pic">
	  							<div class="f-box"></div>
	  							<img src="{STATIC_URL2}/global/topic/20170930/images/pic1.png"/>
	  							<i></i>
	  						</div>
	  					</a>
	  					<a class="msg-item msg-b" href="/trends/?key=%25E9%25AA%258C%25E8%25AF%2581" title="PV展验证" target="_blank">
	  						<div class="item-title">
	  							<h2>PV展验证<p></p></h2>
	  							<p>验证POP趋势权威性</p>
	  						</div>
	  						<div class="item-pic">
	  							<div class="f-box"></div>
	  							<img src="{STATIC_URL2}/global/topic/20170930/images/pic2.jpg"/>
	  							<i></i>
	  						</div>
	  					</a>
	  				</div>
	  			</div>
	  			<div class="content-l">
	  				<img src="{STATIC_URL2}/global/topic/20170930/images/title-txt.png"/>
	  				<div></div>
	  				<h2><img src="{STATIC_URL2}/global/topic/20170930/images/top-txt.png"/></h2>
	  				<p class="p2">PV展已被公认为全球具权威和新面料流行趋势发布的风向标，引领着世界新面料的流<br />行趋势。POP趋势专家现场解读面料新工艺、新趋势；同时深入PV最顶级面料创意工<br />坊Maison d'Exceptions ，为您带来全球各大手工坊的独门创意面料织造工艺。</p>
	  				<p class="p1">PV展已被公认为全球具权威和新面料流行趋势发布的风<br />向标，引领着世界新面料的流行趋势。POP趋势专家现场<br />解读面料新工艺、新趋势；同时深入PV最顶级面料创意工<br />坊Maison d'Exceptions ，为您带来全球各大手工坊的<br />独门创意面料织造工艺。</p>
	  			</div>
	  		</div>
  			<img class="page-down js-page-down" src="{STATIC_URL2}/global/topic/20170930/images/close.png" alt="icon" />
		</div>
	  	<div class="review-contain">
	  		<div class="review-msg">
	  			<img src="{STATIC_URL2}/global/topic/20170930/images/prev-title.png" alt="title" />
	  			<div class="review-cont">
	  				<div class="left-btn js-left-btn"></div>
  					<div class="right-btn js-right-btn"></div>
	  				<div class="review-list">
	  					<ul class="js-review-list clear">
	  						<li>
			  					<a href="/topic/20170915/" target="_blank" title="日本潮流实战情报">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re7.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover7"></div>
			  						</div>
			  						<p>日本潮流实战情报</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170830/" target="_blank" title="联名玩转潮流">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re6.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover6"></div>
			  						</div>
			  						<p>联名玩转潮流</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170802/" target="_blank" title="独立设计师季">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re5.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover5"></div>
			  						</div>
			  						<p>独立设计师季</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170703/" target="_blank" title="POP独家带来，最权威的色彩趋势—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re-4.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover0"></div>
			  						</div>
			  						<p>POP独家带来，最权威的色彩趋势--<br />新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170602/" target="_blank" title="图案专栏重磅来袭，POP带你玩转趋势">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re0.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover1"><img src="{STATIC_URL2}/global/topic/20170930/images/hover-1.png" alt="新生" /></div>
			  						</div>
			  						<p>图案专栏重磅来袭，POP带你玩转趋势</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="18/19秋冬POP大主题趋势预测发布—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re1.jpg" alt="新生" /></div>
			  							<div class="review-hover review-hover2"></div>
			  						</div>
			  						<p>18/19秋冬POP大主题趋势预测发布--新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="时尚也要玩大数据流行色一秒掌握！">
			  						<div>
			  							<div class="review-hover review-hover3"></div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re2.jpg" alt="大数据" /></div>
			  						</div>
			  						<p>时尚也要玩大数据，流行色一秒掌握！</p>
			  					</a>
			  				</li>
			  				
			  				<li>
			  					<a href="/topic/20170915/" target="_blank" title="日本潮流实战情报">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re7.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover7"></div>
			  						</div>
			  						<p>日本潮流实战情报</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170830/" target="_blank" title="联名玩转潮流">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re6.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover6"></div>
			  						</div>
			  						<p>联名玩转潮流</p>
			  					</a>
			  				</li>
	  						<li>
			  					<a href="/topic/20170802/" target="_blank" title="独立设计师季">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re5.png" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover5"></div>
			  						</div>
			  						<p>独立设计师季</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170703/" target="_blank" title="POP独家带来，最权威的色彩趋势—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re-4.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover0"></div>
			  						</div>
			  						<p>POP独家带来，最权威的色彩趋势--<br />新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170602/" target="_blank" title="图案专栏重磅来袭，POP带你玩转趋势">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re0.jpg" alt="图案专栏" /></div>
			  							<div class="review-hover review-hover1"><img src="{STATIC_URL2}/global/topic/20170930/images/hover-1.png" alt="新生" /></div>
			  						</div>
			  						<p>图案专栏重磅来袭，POP带你玩转趋势</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="18/19秋冬POP大主题趋势预测发布—新生">
			  						<div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re1.jpg" alt="新生" /></div>
			  							<div class="review-hover review-hover2"></div>
			  						</div>
			  						<p>18/19秋冬POP大主题趋势预测发布--新生</p>
			  					</a>
			  				</li>
			  				<li>
			  					<a href="/topic/20170516/" target="_blank" title="时尚也要玩大数据流行色一秒掌握！">
			  						<div>
			  							<div class="review-hover review-hover3"></div>
			  							<div class="img-c"><img src="{STATIC_URL2}/global/topic/20170930/images/re2.jpg" alt="大数据" /></div>
			  						</div>
			  						<p>时尚也要玩大数据，流行色一秒掌握！</p>
			  					</a>
			  				</li>
			  			</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	</div>

	{include file="topic/topic_layer.html"}
</div>
{/block}


{block name="self"}
<script type="text/javascript" src="{STATIC_URL2}/global/js/flowplayer/flowplayer-3.2.4.min.js"></script>
<script>
    $(function(){
    	
    	videoResize();
    	function videoResize(){
    		$('.p_radio').css({
    			"height":1040+"px",
    			"width":"1920px",
    			"top":-120+"px",
    			"left":"50%",
    			"margin-left":"-960px"
    		})
    	}
    	
        var _this='',timerId=null;
        play();
        function play(){
        	$f("player", "{STATIC_URL2}/global/js/flowplayer/flowplayer.commercial.swf", {
	            clip: {
	                autoPlay: true,
	                autoBuffering: false,
	                autoPlayNext:true,
	                onBegin: function () { this.getPlugin("play").hide(); } //隐藏按钮
	            },
	            playlist: [//播放列表
	                {
	                    url: '{STATIC_URL2}/global/topic/20170930/images/video.flv',//需要播放的文件
	                    autoPlay: true,
	                    autoPlayNext:true
	                }
	            ],
	            onLoad: function() {    // 当播放器载入完成时调用
			        this.setVolume(0);    // 设置音量0-100，默认50
			        setTimeout(function(){
			        	$('.p_radio').css('opacity',1);
			        },200)
			    },
			    onFinish:function(){  
			    	if(_this==''){
			    		_this=this;
			    	}
		         	_this.play();
		         	clearTimeout(timerId);
	            	timerId = setTimeout(function(){
	            		_this.play();
	            	},20800);
		        }, 
	            plugins: {
	                controls: {
	                    url: '{STATIC_URL2}/global/js/flowplayer/flowplayer.controls-3.2.4-dev.swf',
	                	scrubber:false,  
	                	autoPlayNext : true,
	                	playlist: true,  
	                    bottom: -200,//功能条距底部的距离
	                    height: 0, //功能条高度
	                    play:false, //开始按钮
	                    volume: false, //音量按钮
	                    mute: false, //静音按钮
	                    stop: false,//停止按钮
	                    fullscreen: false, //全屏按钮
	                    scrubber: false,//进度条
	                    time: false, //是否显示时间信息
	                    autoHide: true, //功能条是否自动隐藏
	                    opacity: 0, //功能条的透明度
	                    tooltips: {
	                        buttons: false//是否显示
	                    }
	                }
	            }
	        });
        }
    });

</script>
{literal}
<script>
	$(function(){
		$('.js-page-down').on('click',function(){
			$('body,html').stop(true,true).animate({
				scrollTop:900
			},400)
		});
		
    	//往期回顾hover效果
    	$('.js-review-list>li').hover(function(){
    		$(this).siblings('li').find('.img-c>img').stop().animate({'opacity':0},400,function(){
    			$(this).hide();
    		});
    		$(this).siblings('li').find('.review-hover').stop().show().animate({'opacity':1},400);
    	},function(){
    		$(this).siblings('li').find('.img-c>img').stop().show().animate({'opacity':1},100);
    		$(this).siblings('li').find('.review-hover').stop().animate({'opacity':0},400,function(){
    			$(this).hide();
    		});
    	});
    	
    	var _index=0,is_lun=false,review_ul=$('.js-review-list'),_len=$('.js-review-list li').length/2,list_w=$('.js-review-list li').eq(0).outerWidth(true);		//轮播当前i
    	$(window).on('resize',function(){
    		is_lun=true;		//正在轮播
    		list_w=$('.js-review-list li').eq(0).outerWidth(true);
    		review_ul.stop().css({
    			"margin-left":_index*-1*list_w+"px"
    		});
    		
    		setTimeout(function(){
	    		list_w=$('.js-review-list li').eq(0).outerWidth(true);
	    		review_ul.stop().css({
	    			"margin-left":_index*-1*list_w+"px"
	    		})
	    		is_lun=false;		//正在轮播
    		},300)
    	})
    	
    	$('.js-left-btn').on('click',function(){
    		if(is_lun==true){
    			return;
    		}
    		is_lun=true;		//正在轮播
    		_index--;
    		if(_index<0){
    			_index=_len-1;
    			review_ul.stop().css({
	    			"margin-left":_len*-1*list_w+"px"
	    		})
    		}
    		
    		review_ul.stop().animate({
    			"margin-left":_index*-1*list_w+"px"
    		},300,function(){
    			is_lun=false;
    		});
    	});
    	
    	$('.js-right-btn').on('click',function(){
    		if(is_lun==true){
    			return;
    		}
    		is_lun=true;
    		_index++;
    		if(_index>_len){
    			_index=1;
    			review_ul.stop().css({
	    			"margin-left":"0px"
	    		})
    		}
    		
    		review_ul.stop().animate({
    			"margin-left":_index*-1*list_w+"px"
    		},300,function(){
    			is_lun=false;
    		});
    	});
    })
</script>
{/literal}
{/block}