<!-- h5 header -->
<div class="h5-header-box">
    <div class="h5-header js-h5-header clearfix">
        <div class="web-downlist js-web-downlist fl">
            <img src="{STATIC_URL2}/global/topic/common/images/h5/icon.png">
        </div>
        <div class="web-downlist web-downlist1 js-web-downlist1 fl">
            <img src="{STATIC_URL2}/global/topic/common/images/h5/icon2.png">
        </div>
        <div class="h5-logo">
            <a href="/" target="_blank">
                <img src="{STATIC_URL2}/global/topic/common/images/h5/h5-logo.png">
            </a>
        </div>		
    </div>
    <!-- 下拉 -->
    <div class="nav-show js-nav-show">
        <ul>
            <li class="home-nav">
                <a href="/" target="_blank">首页</a>
            </li>
            <li>
                <a href="/blog/" target="_blank">快讯</a>
            </li>
            <li>
                <a href="https://www.pop-fashion.com/" target="_blank">服装趋势</a>
            </li>
            <li>
                <a href="http://www.91jiafang.com/" target="_blank">家纺趋势</a>
            </li>
            <li>
                <a href="http://www.pop-bags.com/" target="_blank">箱包趋势</a>
            </li>
            <li>
                <a href="http://www.pop-shoe.com/" target="_blank">鞋子趋势</a>
            </li>
            <li>
                <a href="http://www.51shoushi.com/" target="_blank">首饰趋势</a>
            </li>
        </ul>
    </div>
</div>
<!-- h5 header -->