{extends file="layout.html"}
{block name="main"}
  <div class="aboutUs join_member">
  	<div class="ab_banner"><p>JOIN MEMBER</p><span>加入会员</span></div>
  	<div class="wid1200">
  		<div class="about_content">
  			<div class="content_left fl join_member_active">
  				{include file="./left_nav.html"}
  			</div>
  			<div class="content_right fl">
  				<h1 class="big_title">加入<span>会</span>员</h1>
  				<h3 class="small_title"><em></em><span>Join member</span><em></em></h3>
  				<div class="content_x840">
  					<table width="100%" class="table1">
  						<tbody>
  							<tr>
  								<td width="25%" class="title_td">网站</td>
  								<td width="50%">POP服装趋势网</td>
  								<td width="25%" class="btn_td"><a class="js-contact-qq-btn" href="javascript:void(0);">立即咨询</a></td>
  							</tr>
  							<tr>
  								<td width="25%" class="title_td">书籍</td>
  								<td width="50%">趋势、款式、快反应书籍系列</td>
  								<td width="25%" class="btn_td"><a class="js-contact-qq-btn" href="javascript:void(0);">立即咨询</a></td>
  							</tr>
  							<tr>
  								<td width="25%" rowspan="2" class="title_td">增值服务</td>
  								<td width="50%">优料宝</td>
  								<td width="25%" class="btn_td"><a href="http://www.uliaobao.com/" target="_blank">立即访问</a></td>
  							</tr>
  							<tr>
  								<td width="50%">大讲堂 </td>
  								<td width="25%" class="btn_td"><a href="http://www.pop136.com/lecture/index.php" target="_blank">立即访问</a></td>
  							</tr>
  						</tbody>
  					</table>
  					<p class="mid_title"><span></span>免费会员和VIP会员差异</p>
  					<table class="table2" width="100%">
  						<tbody>
  							<tr>
  								<th width="15%">会员类型</th>
  								<th width="45%">会员享有的权限</th>
  								<th width="20%">收费价格</th>
  								<th width="20%">立即享有</th>
  							</tr>
  							<tr>
  								<td>免费会员</td>
  								<td class="wid_td"><p>在没有付费成为VIP会员前，您只可以浏览到网站里的个别小图，无权浏览和下载高清大图</p></td>
  								<td>免费</td>
  								<td class="btn_td"><a href="/member/register/" target="_blank">立即注册</a></td>
  							</tr>
  							<tr>
  								<td>VIP会员</td>
  								<td class="wid_td"><p>包年会员。在一年365天内可以无限制的浏览网站里所有的资料（趋势报告、款式、设计素材等）</p> </td>
  								<td>售前咨询上海总部<br/>4008-210-500<br/>15921869301</td>
  								<td class="btn_td"><a href="/service/payment/" target="_blank">立即付费</a></td>
  							</tr>
  						</tbody>
  					</table>
  				</div>
            </div>
  		</div>
  	</div>
  </div>
{/block}