{extends file="layout.html"}"

{block name="title"}2017/2018春夏_2017/2018秋冬热门图案趋势资料合集-POP服装趋势网{/block}
{block name=keywords}大牌花型跟踪,原创图案趋势分析,图案手稿书箱{/block}
{block name=description}热门图案趋势资料合集包括大牌花型跟踪、原创图案趋势分析和图案手稿书箱三部分，涉及女/男装花型、分析与书箱。{/block}

{block name="selfcss"}
<link rel="stylesheet" type="text/css"
      href="{STATIC_URL2}/global/topic/20161024/css/index.css?{STATIC_CHANGE_TIME}">
{/block}


{block name="main"}
<div itemscope class="container">
    <div itemscope class="banner">
        <div itemscope class="bannerCenter">

            <p class="brand_follow Theme"><a href="#content1" class="colorTheme ">大牌花型跟踪</a></p>
            <p class="contact_big Theme"><a href="#content2" class="pciTheme">原创图案趋势分析</a></p>
            <p class="picmi_hand Theme"><a href="#content3" class="picmic">图案手稿书籍</a></p>
        </div>
    </div>
    <div itemscope class="content content1" id="content1">
        <div itemscope class="con_box">
            <div itemscope class="box">
                <p itemprop="description" class="smallBox">
                    集中大牌秀场最爆的花型，<br/> 同步秀场时间陆续提炼爆款， <br/>随手3D试衣体验花型运用， <br/>矢量文件拿来即用。
                </p>
                <dl class="dl01">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/wf.png"/></dt>
                    <dd><a href="/patterns/topbrands/gen_2/#anchor" target="_blank">女装17春夏最新的T台大牌花型</a></dd>
                </dl>
                <dl class="dl02">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/mf.png"/></dt>
                    <dd><a href="/patterns/topbrands/gen_1/#anchor" target="_blank">男装17春夏最新的T台大牌花型</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div itemscope class="content content2" id="content2">
        <div itemscope class="con_box">
            <div itemscope class="box">
                <p itemprop="description" class="smallBox">
                    POP原创图案趋势报告主题明确鲜明提早1年半预测， 热门图案矢量文件拿来即用。
                </p>
                <dl class="dl01">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/bwf.png"/></dt>
                    <dd><a href="/details/report/t_moscon-id_278225-col_22/" target="_blank">1718秋冬主题图案预测-FAKE经典</a></dd>
                    <dd><a href="/details/report/t_moscon-id_278274-col_22/" target="_blank">1718秋冬主题图案预测-东方华梦</a></dd>
                    <dd><a href="/details/report/t_moscon-id_278253-col_22/" target="_blank">1718秋冬主题图案预测-暗黑希望</a></dd>
                    <dd><a href="/details/report/t_moscon-id_278243-col_22/" target="_blank">1718秋冬主题图案预测-正视消耗</a></dd>
                    <dd><a href="/details/report/t_moscon-id_275827-col_22/" target="_blank">2017春夏主题图案预测-妙手生花</a></dd>
                    <dd><a href="/details/report/t_moscon-id_275664-col_22/" target="_blank">2017春夏主题图案预测-蔬果情缘</a></dd>

                </dl>
                <dl class="dl02">
                    <dt><a href="/trends/forecast/vis_15-gen_1-sea_11658/#anchor" target="_blank"><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/bmf.png"/></a></dt>
                    <dd class="cur"><a href="/details/report/t_trend-id_18576-col_22/" target="_blank">2018春夏男装图案趋势预测-扑克 poker</a></dd>
                    <dd class="cur"><a href="/details/report/t_trend-id_18464-col_22/" target="_blank">2018春夏男装图案趋势预测-蛇 SNAKE</a></dd>
                    <dd class="active"><a href="/details/report/t_trend-id_18339-col_22/" target="_blank">2018春夏男装图案趋势预测-哥特式字体 Gothic fonts</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div itemscope class="content content3" id="content3">
        <div itemscope class="con_box">
            <div itemscope class="box">
                <p itemprop="description" class="smallBox">
                    提炼POP最热门1718秋冬热门主题图案，<br/> 图案手稿以书籍形式集中呈现书籍内容从灵感说明大牌款式运用原创花型3D模拟试用，内容完整实用。
                    可预定可直接购买实物书籍
                </p>
                    <dl class="dl01">
                        <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/bookwomen.png"/></dt>
                    <dd><a href="/books/seclist/id_13297-t_designrefrence-yl_2-col_70/" target="_blank">女装《M.Print》2017/18秋冬女装图案工艺趋势</a></dd>

                </dl>
                <dl class="dl02">
                    <dt><img itemprop="thumbnail" src="{STATIC_URL2}/global/topic/20161024/images/bookman.png"/></dt>
                    <dd><a href="/books/seclist/id_13293-t_designrefrence-yl_2-col_70/" target="_blank">男装《M.Print》2017/18秋冬男装图案工艺趋势</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{include file="topic/topic_layer.html"}
{/block}

